

<p ng-show="!editing">{{organization_mailing_service.default_list.name}}</p>
<p style="color: red;"ng-show="editing && !organization_mailing_service.default_list.name">
  Please click edit below and select a Mailchimp list
</p>
<select ng-options="mailing_service_list.name for mailing_service_list in
        organization_mailing_service.mailing_service_lists"
        ng-show="editing"
        ng-model="mailing_service_list"
        >
  <option value="">-- Default Mailing List For Volunteers --</option>
</select>
<a href="" ng-show="!editing" ng-click="editing = true">Edit</a>
<a href="" ng-show="editing" ng-click="update(mailing_service_list)">Save</a>
