<md-list-item class="md-3-line"
              ng-repeat="opportunity_role in rolesList" layout="row" layout-wrap id="opportunity-role">
    <div flex="80">
      <h3
        >{{opportunity_role.name}}
        <p ng-show="opportunity_role.person_opportunities">{{opportunity_role.person_opportunities.length}} / {{opportunity_role.volunteers_required}}</p>
        <p ng-show="!opportunity_role.person_opportunities">{{opportunity_role.volunteers_required}} volunteers</p>
      </h3>
      <p ng-show="opportunity_role.description">{{opportunity_role.description}}</p>
      <a href="" ng-click="show_volunteers = true" ng-show="!show_volunteers && opportunity_role.person_opportunities.length > 0" class="volunteer-toggle-link">Show Volunteers?</a>
      <a href="" ng-click="show_volunteers = false" ng-show="show_volunteers" class="volunteer-toggle-link">Hide Volunteers?</a>
    </div>
    <div flex="20">
      <div class="hourlistr">
        <md-button
          class="md-warn hourlistb"
          href=""
          ng-click="deleteOpportunityRole(opportunity_role)">
          Delete
        </md-button>
        <md-button
          class="md-primary hourlistb"
          href=""
          ng-click="editing = true">
          Edit
        </md-button>
        <add-person-opportunity
          ng-show="type !== 'new'"
          type="role"
          selected-object="opportunity_role"
          instance="opportunity.instance_date"
          opportunity="opportunity">
        </add-person-opportunity>
      </div>
      <div ng-show="editing"
           class="editzone" layout="row">
        <md-input-container flex="15">
          <label>What's the name?</label>
          <input
            ng-model="opportunity_role.name">
          </input>
        </md-input-container>
        <md-input-container flex="50">
          <label>What's the description?</label>
                      <textarea
                        md-maxlength="250"
                        ng-model="opportunity_role.description">
                      </textarea>
        </md-input-container>
        <md-input-container flex="15">
          <label>How Many Volunteers?</label>
          <input
            ng-model="opportunity_role.volunteers_required">
          </input>
        </md-input-container>
        <md-input-container flex="15">
          <label>How Many Hours Expected?</label>
          <input
            ng-model="opportunity_role.hours_required">
          </input>
        </md-input-container>
        <div flex="5">
          <md-button
            class="md-primary hourlistb"
            href=""
            ng-click="updateOpportunityRole(opportunity_role); editing = false">
            Save
          </md-button>
        </div>
      </div>
    </div>
    <div flex="5">
    </div>
    <div flex="95">
      <div ng-show="show_volunteers">
      <small ng-repeat="person in opportunity_role.person_opportunities | limitTo:5">
        {{person.first_name}} {{person.last_name}}
        <!--<small ng-repeat="date in person.instances">
          {{date | date:'medium'}}
        </small>-->
      </small>
      <a href=""
         ng-show="opportunity_role.person_opportunities.length > 5"
         ng-click="viewVolunteers(opportunity_role)"
         ng-show="type !== 'new'">
        See Additional Volunteers
      </a>
      </div>
    </div>
</md-list-item>
