<p style="text-align:center;">Pick up weekdays and time slots when you are avaliable to be a volunteer.</p>
<div>
  <md-checkbox ng-model="Mon" aria-label="Mon" class="quat">
    Mon
  </md-checkbox>

  <div ng-show="Mon">
    <md-checkbox ng-model="morning.monday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.monday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.monday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Tue" aria-label="Tue" class="quat">
    Tue
  </md-checkbox>

  <div ng-show="Tue">
    <md-checkbox ng-model="morning.tuesday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.tuesday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.tuesday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Wed" aria-label="Wed" class="quat">
    Wed
  </md-checkbox>

  <div ng-show="Wed">
    <md-checkbox ng-model="morning.wednesday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.wednesday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.wednesday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Thu" aria-label="Thu" class="quat">
    Thu
  </md-checkbox>

  <div ng-show="Thu">
    <md-checkbox ng-model="morning.thursday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.thursday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.thursday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>


<div>
  <md-checkbox ng-model="Fri" aria-label="Fri" class="quat">
    Fri
  </md-checkbox>

  <div ng-show="Fri">
    <md-checkbox ng-model="morning.friday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.friday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.friday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Sat" aria-label="Sat" class="quat">
    Sat
  </md-checkbox>

  <div ng-show="Sat">
    <md-checkbox ng-model="morning.saturday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.saturday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.saturday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Sun" aria-label="Sun" class="quat">
    Sun
  </md-checkbox>

  <div ng-show="Sun">
    <md-checkbox ng-model="morning.sunday" aria-label="M" class="quat">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="afternoon.sunday" aria-label="A" class="quat">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="night.sunday" aria-label="N" class="quat">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
</div>
