<md-list-item class="md-3-line recorded-hour-list">
  <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
  <div class="md-list-item-text" >
    <h3 ng-show="type !== 'person' || type === 'group'"
        person-modal
        size="lg"
        id="{{recordedHour.person.id}}"
      >{{recordedHour.person.first_name}} {{recordedHour.person.last_name}}
    </h3>
    <h3 ng-show="type !== 'opportunity' && type !== 'group'">{{recordedHour.opportunity.name}}</h3>
    <p  ng-show="!editing && type !== 'group'">{{recordedHour.opportunity_role.name}}</p>
    <p ng-show="type !== 'group'">{{recordedHour.description}}</p>
    <p ng-show="type === 'group'">{{recordedHour.opportunity.name}} - {{recordedHour.opportunity_role.name}}</p>
    <p ng-show="recordedHour.description">{{recordedHour.description}}</p>
  </div>
  <div class="hourlistr">
    <h2>
      {{recordedHour.hours}}
    </h2>
    <md-button
      class="md-primary hourlistb"
      href="#"
      ng-click="editing = true">
      Edit
    </md-button>
    <md-button
      class="md-warn hourlistb"
      href=""
      ng-click="deleteRecordedHour(recordedHour)">
      Delete
    </md-button>
  </div>
  <div ng-show="editing"
       class="editzone">
    <md-select placeholder="Role"
               ng-model="recordedHour.opportunity_role">
      <md-option value="">
      </md-option>
    </md-select>
    <div>
      <span>Hours
      </span>
      <input
        required
        type="number"
        step="any"
        ng-model="recordedHour.hours"
        min="0"
        max="500">
    </div>
    <div>
      <md-button
        class="md-primary hourlistb"
        href=""
        ng-click="saveRecordedHours(recordedHour)">
        Save
      </md-button>
    </div>
  </div>
</md-list-item>
