<h2
  class="detail-title-text"
  ng-hide="editing || !title_text"
  >{{text}}</h2>
<h3
  class="detail-subtitle-text"
  ng-hide="editing || !subtitle_text"
  >{{text}}</h3>
<p
  class="detail-paragraph-text"
  ng-hide="editing || !paragraph_text"
  >{{text}}</p>
{{model_id}}
{{text_name}}
<input ng-show="editing && title_text || editing && subtitle_text"
       type="text"
       placeholder="{{placeholder}}"
       ng-model="text">

<textarea ng-show="editing && paragraph_text"
       ng-model="text"></textarea>

<a ng-hide="editing"
   href=''
   ng-click="editText()"
   class="action-text"
  >edit</a>

<a ng-show="editing"
   href=''
   ng-click="updateText()"
   class="action-text"
  >save</a>
