#group-home {
  .add-groups-text {
  text-align: center;
  padding: 0 23vw;
  }
  md-divider {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    margin: 1% 0;
  }
  h2 {
    font-size: 16pt;
    text-align: left;
  }
  md-grid-tile-footer
  h3 {
    color: white;
  }
  small {
    color: white;
  }
}
