<div class="content volunteer-content">
  <md-card>
    <md-card-content>
      <div ng-show="!report_sent">
        <h2>Export a Report of Your Volunteering</h2>
        <h4>What Range of Dates Would You Like Information About?</h4>
        <input date-range-picker
               class="form-control date-picker"
               type="text"
               placeholder="Please select the two dates"
               ng-model="date" />
        <h4>Enter the Email Address You Use When Volunteering</h4>
        <md-input-container>
          <label>What's Your Email Address?</label>
          <input ng-model="email_address">
        </md-input-container>
        <md-button
          class="md-raised md-primary"
          ng-click="sendReport()"
          ng-disabled="!date && !email_address">Have Report Sent to Email Address</md-button>
      </div>
      <div ng-show="report_sent" id="report-sent">
        <h1>Your Report Has Been Sent!</h1>
        <a ui-sref="landing_page">Back to Home Page</a>
      </div>
    </md-card-content>
  </md-card>
</div>
