
  <md-input-container>
    <md-input-container flex>
      <label>Notes <small>(i.e. - additional schedule information)</small>:</label>
      <textarea ng-model="person.notes" columns="1" md-maxlength="150"></textarea>
    </md-input-container>
    <label>Your Phone Number:</label>
    <input type="text" ng-model="person.phone">
  </md-input-container>
  <md-input-container>
    <label>Your Company or College:</label>
    <input type="text" ng-model="person.organization_name">
  </md-input-container>
  <md-input-container>
    <label>What's Your Occupation:</label>
    <input type="text" ng-model="person.occupation">
  </md-input-container>
  <md-button class="md-raised md-primary formbutton"
             aria-label="Use Android"
             ng-click="updateWithAdditionalInformation(person)">
    Next Step: Demographic Data
  </md-button>

  <md-button class="md-raised md-primary formbutton" aria-label="Use Android"  ui-sref="organization_volunteer_registration.3">
    Previous Step: Enter Schedule
  </md-button>


