
 <md-input-container>
             <label>Address Line 1:</label>
            <input type="text" ng-model="person.address_1">
    </md-input-container>

 <md-input-container>
             <label>Address Line 2:</label>
            <input type="text" ng-model="person.address_2">
    </md-input-container>

 <div layout layout-sm="column">
   <md-input-container flex>
     <label>City</label>
     <input ng-model="person.city">
   </md-input-container>
   <md-input-container flex>
     <label>State</label>
     <input ng-model="person.state">
   </md-input-container>
   <md-input-container flex>
     <label>Postal Code</label>
     <input ng-model="person.zip_code">
   </md-input-container>
 </div>
<br/>
 <md-button class="md-raised md-primary formbutton"
            ng-click="updateWithAddress(person)"
            aria-label="Use Android"
            ui-sref="organization_volunteer_registration.3">
          Next Step: Schedule
        </md-button>

 <md-button class="md-raised md-primary formbutton"
            aria-label="Use Android"
            ui-sref="organization_volunteer_registration.1({person_token:state.params.person_token})">
          Previous Step: Name and Email
        </md-button>

