#search-results {
  a {
    display: block;
  }
  img {
    height: 50px;
  }
  #search-waiting {
    margin-top: 56px;
    margin-bottom: 56px;
    img {
      height: 250px;
    }
    p {
      text-align: center;
    }
  }
}
