<div class="content">
  <md-card id="search-results">
    <md-card-content>
      <div id="search-waiting" ng-if="!query.query">
        <img src="../../images/search.svg">
        <p>We're Waiting Patiently for your search...</p>
      </div>
      <md-list>
        <md-item ng-repeat="search_item in search_items | filter : query.query"
                 ng-if="query.query">
          <md-item-content>
            <div class="md-tile-left">
              <img ng-show="search_item.fb_id"
                   src="http://graph.facebook.com/{{search_item.fb_id}}/picture?type=small"
                   alt="{{item.who}}">
              <img ng-hide="search_item.fb_id"
                   src="/images/no_image.jpg"
                   alt="{{item.who}}">
            </div>
            <div person-modal size="lg" id={{search_item.id}}
                 class="md-tile-content"
                 ng-if="search_item.result_type === 'Volunteer'">
              <a  href=""
                  ng-click="personDetail('lg', search_item.id)">{{search_item.name}}</a>
              <h4>{{search_item.result_type}}</h4>
            </div>
            <div opportunity-modal size="lg" id={{search_item.id}}
                 class="md-tile-content"
                 ng-if="search_item.result_type === 'Opportunity'">
              <a  href=""
                  ng-click="personDetail('lg', search_item.id)">{{search_item.name}}</a>
              <h4>{{search_item.result_type}}</h4>
            </div>
          </md-item-content>
        </md-item>
      </md-list>

    </md-card-content>
  </md-card>
</div>
