
<!-- The following screen is visible if the volunteer isn't connected to Facebook, or hasn't authorized
 the volu app. -->

<md-card class="content" id="organization-registration">
  <md-card-content ng-if="!connected_to_facebook && !logged_in">
    <img src="../../images/V_Logo.png">
    <h2>Access Volu</h2>
    <p id="facebook-login-text">
      You are about to have access to a complete and advanced toolset for managing your non-profit,
      sign in with your Facebook account (you'll have to be an administer of your organizations Facebook page), or
      register with email.
    </p>

    <div id="registration-button-container">
    <md-button class="md-primary md-raised"
            ng-click="facebook_log_in()"
            href="">
      Facebook
    </md-button>
    <md-button class="md-primary md-raised"
               ui-sref="organizations.email_registration.1">
      Email
    </md-button>

    </div>
    <p>Already registered?<a href="" log-in-modal>Log in.</a></p>
  </md-card-content>
</md-card>


