<md-dialog flex="90" style="height:90vh" id="add-opportunity">
  <md-toolbar class="md-tall" id="add-opportunity-primary-information">
    <div layout="row" layout-xs="column">
      <div flex="80" class="object-dialog-toolbar-component">
        <md-input-container>
          <label>Enter Opportunity Name</label>
          <input ng-model="newOpportunity.opportunity_name">
        </md-input-container>
      </div>
      <div flex="20" style="line-height: 75%;">
        <md-button
          ng-disabled="!newOpportunity.opportunity_name || !calendar.raw_start || !calendar.end_time"
          style="border-color: white;border-style: solid;border-width: 1px;"
          ng-click="newOpportunity()">Create Opportunity!
        </md-button><br>
        <small ng-show="!newOpportunity.opportunity_name || !calendar.raw_start || !calendar.end_time" style="color:red;">
          You still need to enter
          <span ng-show="!newOpportunity.opportunity_name">opportunity name and </span>
          <span ng-show="!calendar.end_time"> opportunity end time </span>
        </small>
      </div>
    </div>
  </md-toolbar>

  <md-tabs  md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
    <!-- <md-content class="md-padding diacontent"> -->
    <md-tab id="tab1">
      <md-tab-label>Add Opportunity Information</md-tab-label>
      <md-tab-body class="add-opportunity-tab-body">
        <div layout="row">
          <md-input-container flex="80">
            <label>Description</label>
            <textarea ng-model="newOpportunity.description" rows="4" cols="3"></textarea>
          </md-input-container>
          <md-input-container flex="20" id="volunteer-required-input">
            <label>Volunteers Required?</label>
            <input ng-model="newOpportunity.volunteer_goal">
          </md-input-container>
        </div>
        <!-- Event Address -->
        <md-input-container flex>
          <label>Address 1</label>
          <input ng-model="newOpportunity.address_1">
        </md-input-container>
        <md-input-container flex>
          <label>Address 2</label>
          <input ng-model="newOpportunity.address_2">
        </md-input-container>

        <!-- Event Location Information -->
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>City</label>
            <input ng-model="newOpportunity.city">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input ng-model="newOpportunity.state">
          </md-input-container>
          <md-input-container flex>
            <label>Zip Code</label>
            <input ng-model="newOpportunity.zip_code">
          </md-input-container>
        </div>
      </md-tab-body>
    </md-tab>

    <!-- <md-content class="md-padding diacontent"> -->
    <md-tab id="tab2">
      <md-tab-label>Opportunity Schedule</md-tab-label>
      <md-tab-body class="add-opportunity-tab-body">
        <h3>What time does the opportunity start?</h3>
        <input kendo-date-time-picker
               k-ng-model="calendar.raw_start"
          />

        <div>
          <h3>How long will it last?</h3>
          <h4>{{calendar.duration | duration:'h:mm'}} {{duration_label}}</h4>
          <md-slider flex min="900000"
                     step="900000"
                     max="43200000"
                     ng-model="calendar.duration"
                     aria-label="red"
                     id="red-slider" class>
          </md-slider>
        </div>
        <md-button auxiliary-modal-window
                   type="create-opportunity"
                   class="md-primary md-raised"
                   object="calendar"
                   ng-disabled="!calendar.end_time || !calendar.raw_start"
                   ng-click="calendar.repeating_event = true">
          Is this a recurring schedule?
        </md-button>
      </md-tab-body>
    </md-tab>
    <!-- <md-content class="md-padding diacontent"> -->
    <md-tab id="tab3">
      <md-tab-label>Add Roles</md-tab-label>
      <md-tab-body class="add-opportunity-tab-body">
        <div layout="row">
          <md-input-container flex="33">
            <label>What's the role name?</label>
            <input ng-model="role.name">
          </md-input-container>
          <md-input-container flex="33">
            <label>How many volunteers do you require in this role?</label>
            <input
              type="number"
              ng-model="role.volunteers_required">
          </md-input-container>
          <md-input-container flex="33">
            <label>How many hours are required?</label>
            <input
              type="number"
              ng-model="role.hours_required">
          </md-input-container>
        </div>
        <md-input-container>
          <label>What's the description?</label>
              <textarea
                md-maxlength="250"
                ng-model="role.description">
              </textarea>
        </md-input-container>
        <md-button style="margin-right:0px;float:right;"class="md-raised md-primary" ng-click="createRole(role)">Add Role</md-button>
        <div class="fixer"></div>
        <md-list>
          <opportunity-role
            roles-list="roles"
            opportunity="opportunity"
            type="new"
            >
          </opportunity-role>
        </md-list>
      </md-tab-body>
    </md-tab>
    <md-tab id="tab4">
      <md-tab-label>Add Files</md-tab-label>
      <md-tab-body class="add-opportunity-tab-body">
        <div class="file-drop-box" ngf-select ngf-drop ng-model="files" ngf-multiple="true">
          <h4>Drop Files Here</h4>
          <p>(Or Click to Select From Computer)</p>
          <h4 class="ionicon ion-document-text" style="font-size: 36pt;left: 50px;text-align: left;"></h4>
        </div>
        <md-list style="margin-bottom: 60px;" ng-if="resources.length > 0">
          <h4>Add More Information About Files Below</h4>
          <md-list-item ng-repeat="resource in resources">
            <div layout="row" class="resource-list">
              <md-input-container flex="20">
                <label>File Name</label>
                <input ng-model="resource.name">
              </md-input-container>
              <md-input-container flex="50">
                <label>Description</label>
                <textarea ng-model="resource.description" md-maxlength="150" md-select-on-focus></textarea>
              </md-input-container>
              <md-input-container flex="30">
                <label>Resource Type</label>
                <md-select ng-model="resource.resource_type" ng-init="resource.resource_type = 'For Volunteers'">
                  <md-option ng-repeat="resource_type in resource_types" value="{{resource_type}}">
                    {{resource_type}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
    <!--<md-tab id="tab4">
      <md-tab-label>Collaborate</md-tab-label>
      <md-tab-body class="add-opportunity-tab-body">
        <md-checkbox ng-model="newOpportunity.collaborative" aria-label="Checkbox 1">
          Would you like to collaborate with other organizations?
        </md-checkbox>
        <organization-search
          ng-show="newOpportunity.collaborative"
          organization="organization"
          type="multiple"
          selected-organizations="organizations"></organization-search>
        <div id="collaboration-text" ng-show="newOpportunity.collaborative">
          <h4>These organizations will be invited to collaborate with you on this opportunity:</h4>
          <p>(click to remove from the list)</p>
        </div>
        <md-list>
          <md-list-item ng-repeat="organization in organizations" ng-click="removeOrganization(organization)">
            {{organization.name}}
            <md-switch class="md-secondary" ng-model="organization.administrator">
              Give this organization administrative rights?
            </md-switch>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>-->
    <!-- </md-content> -->
  </md-tabs>
</md-dialog>





