<h4>Import Existing Volunteers from a Spreadsheet</h4>
<div class='form-group'>
  <label for='excel_file'>Select Excel File</label>
  <input type="file"
         name="excel_file"
         ng-model="excel_file"
         onchange="angular.element(this).scope().fileChanged(this.files);"
         required="true">
</div>
<div class='form-group' ng-if="excelFile">
  <label for='sheet_name'>Excel Sheet Name With Volunteer Information</label>
  <select id="sheet_name"
          class="form-control"
          ng-change="updateJSONString()"
          ng-model="selectedSheetName"
          required="true"
          ng-required="true"
          ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets">
    <option value="">---- Select a sheet ----</option>
  </select>
</div>
<div ng-show="isProcessing">
  <span>Processing ...</span>
</div>

<input type="hidden"
       name="sheet_name"
       value="{{ selectedSheetName }}">

<input type="submit"
       value="Submit"
       ng-click="uploadPeople()">

