<h2>Register</h2>
<md-input-container>
  <label>What's the name of your organization?</label>
  <input ng-model="register.organization_name">
</md-input-container>
<md-input-container>
  <label>What's your email adddress?</label>
  <input ng-model="register.user_email">
</md-input-container>
<md-button class="md-raised md-primary"
  >Register For Volu</md-button>
<h2>Sign In</h2>
<md-input-container>
  <label>Email</label>
  <input ng-model="user.company">
</md-input-container>
<md-input-container flex>
  <label>Password</label>
  <input ng-model="user.company">
</md-input-container>
