<md-dialog flex="90" style="height:90vh">
  <md-toolbar class="md-tall">
    <div layout="row" layout-xs="column">
      <div flex="80" class="object-dialog-toolbar-component">
        <edit-object-directive
          text_name="name"
          model-type="opportunity"
          attribute-name="name"
          model-id="{{opportunity.id}}"
          text="{{opportunity.name}}"
          size="title_text"
          ></edit-object-directive>
        <md-input-container flex="20" ng-show="change_instance">
          <label style="color: white;">Choose Instance Date</label>
          <md-select ng-model="opportunity.instance_date" aria-label="Choose Instance Date" ng-show="change_instance" style="color: white;">
            <md-option ng-repeat="instance in opportunity.instances" value="{{instance.instance_date}}">
              {{instance.instance_date | date:'short'}}
            </md-option>
          </md-select>
        </md-input-container>
        <p
          ng-hide="change_instance"
          class="modal-subheader-text"
          >{{opportunity.instance_date | date:'short'}}
        </p>
        <a href=""
           ng-hide="change_instance"
           class="change_instance_link"
           ng-click="change_instance = true">
          change instance
        </a>
        <a href=""
           ng-hide="!change_instance"
           ng-click="change_instance = false"
            class="change_instance_link">
          cancel
        </a>
      </div>
      <div flex="20" class="object-dialog-toolbar-component">
        <!--<md-button class="ion-close dialog-close-button" ng-click="cancel()">
        </md-button>-->
        <ul class="dialog-toolbar-action-list">
          <li><a href="">Email Volunteers</a></li>
          <li><a report-link
                 type="opportunity"
                 id="{{opportunity.id}}"
                 href="javascript:;">Export Report</a></li>
          <li><a
            auxiliary-modal-window
            href="javascript:;"
            type="edit-schedule"
            object="opportunity">
            Edit Schedule
          </a></li>
        </ul>
      </div>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs
      md-dynamic-height
      md-selected="selectedIndex"
      md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <!-- Event Information -->
      <md-tab id="tab1">
        <md-tab-label>Dashboard</md-tab-label>
        <md-tab-body>
          <div class="opportunity-dashboard">
            <div class="row">
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.total_recorded_hours}}</h2>
                <h4 class="opportunity-dashboard-label">Total Hours</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.instance.instance_total_recorded_hours}}</h2>
                <h4 class="opportunity-dashboard-label">Hours This Instance</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.total_people_recording}}</h2>
                <h4 class="opportunity-dashboard-label">Volunteers</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.instance.registered_instance_volunteers.length}}</h2>
                <h4 class="opportunity-dashboard-label">Volunteers This Instance</h4>
              </div>
            </div>
            <div class="row">
              <highchart config="instanceStatisticGraphConfig"></highchart>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Details</md-tab-label>
        <md-tab-body>
              <div style="float: right">
                <h4 style="display: inline-block;">Volunteer Goal</h4>
                <edit-object-directive
                  text_name="volunteer_goal"
                  model-type="opportunity"
                  attribute-name="volunteer_goal"
                  model-id="{{opportunity.id}}"
                  text="{{opportunity.volunteer_goal}}"
                  size="subtitle_text"
                  ></edit-object-directive>
              </div>
              <h4 >Description:</h4>
              <edit-object-directive
                model-type="opportunity"
                attribute-name="description"
                model-id="{{opportunity.id}}"
                text="{{opportunity.description}}"
                size="paragraph_text"
                ></edit-object-directive>
          <h4 >Address:</h4>
          <edit-address
            address_1="{{opportunity.address_1}}"
            address_2="{{opportunity.address_2}}"
            zip-code="{{opportunity.zip_code}}"
            state="{{opportunity.state}}"
            city="{{opportunity.city}}"
            model-id="{{opportunity.id}}"
            address-type="opportunity"
            >
          </edit-address>
        </md-tab-body>
      </md-tab>

      <!-- Opportunity Schedule -->
      <md-tab id="tab3" md-on-select="grabData('schedule')">
        <md-tab-label>Schedule</md-tab-label>
        <md-tab-body>
            <md-list class="recorded-hour-list">
              <opportunity-instance
                instances-list="opportunity.instances"
                opportunity="opportunity"
                current-instance="opportunity.instance_date">
              </opportunity-instance>
            </md-list>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab4" md-on-select="grabData('roles')">
        <md-tab-label>Roles</md-tab-label>
        <md-tab-body>
              <a href=""
                 ng-click="add_role = true"
                 ng-hide="add_role">Add New Role</a>
              <a href=""
                 ng-click="add_role = false"
                 ng-show="add_role">Hide</a>
              <div ng-show="add_role" class="create-opportunity-role">
                <div layout="row">
                  <md-input-container flex="33">
                    <label>What's the role name?</label>
                    <input ng-model="opportunity_role.name">
                  </md-input-container>
                  <md-input-container flex="33">
                    <label>How many volunteers do you require in this role?</label>
                    <input
                      type="number"
                      ng-model="opportunity_role.volunteers_required">
                  </md-input-container>
                  <md-input-container flex="33">
                    <label>How many hours will each volunteer work?</label>
                    <input
                      type="number"
                      ng-model="opportunity_role.hours_required">
                  </md-input-container>
                </div>
                <md-input-container>
                  <label>What's the description?</label>
              <textarea
                md-maxlength="250"
                ng-model="opportunity_role.description">
              </textarea>
                </md-input-container>
                <md-button
                  class="md-primary md-raised"
                  ng-click="createOpportunityRole(opportunity_role)">
                  Create Opportunity Role
                </md-button>
              </div>
              <div id="roles-list">
                <md-list class="recorded-hour-list">
                  <opportunity-role roles-list="opportunity.instance.instance_roles" opportunity="opportunity"></opportunity-role>
                </md-list>
              </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab5 opportunity-people" md-on-select="grabData('people')">
        <md-tab-label>People</md-tab-label>
        <md-tab-body>
              <!--
              <a href=""
                 ng-click="add_volunteer = true"
                 ng-hide="add_volunteer">Add Volunteer</a>
              <a href=""
                 ng-click="add_volunteer = false"
                 ng-show="add_volunteer">Hide</a>
                 -->
              <md-list class="opportunity-volunteer-list">
                <md-list-item class="md-2-line" ng-repeat="volunteer in opportunity.instance.instance_volunteers">
                  <div class="md-list-item-text">
                    <div class="volunteer-text" person-modal id="{{volunteer.id}}" size="lg">
                      <h3>{{volunteer.first_name}} {{volunteer.last_name}}</h3>
                      <p>{{volunteer.email}}</p>
                    </div>
                  </div>
                </md-list-item>
              </md-list>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab6" md-on-select="grabData('recorded_hours')">
        <md-tab-label>Recorded Hours</md-tab-label>
        <md-tab-body>
          <div class="tabcontrol">
            <div class="tabcontrolin">
              <md-list>
                <recorded-hour recorded-hour="recorded_hour"
                               recorded-hours="opportunity.recorded_hours"
                               type="opportunity"
                               ng-repeat="recorded_hour in opportunity.recorded_hours">
                </recorded-hour>
              </md-list>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab6">
        <md-tab-label>Additional</md-tab-label>
        <md-tab-body>
              <div class="rscard">
                <h3>Forms</h3>
                <small>(These should be sent around, or opened in a new window)</small>
                <a ui-sref="registration_form({opportunity_Id:opportunity.id})">
                  Registration Form for Opportunity</a>
                <a ui-sref="sign_in_form.initial_information({opportunity_Id:opportunity.id})">
                  Sign In Form for Opportunity</a>
              </div>
              <div class="rscard">
                <h3>Delete Opportunity:</h3>
                <a
                  href=""
                  ng-click="deleteOpportunityInstance();">
                  Delete This Instance</a>
                <a
                  href=""
                  ng-click="deleteFutureInstances();">
                  Delete All Future Instances</a>
                <a
                  href=""
                  ng-click="deleteOpportunity();">
                  Delete All Instances</a>
              </div>
              <div class="rscard">
                <h3>Opportunity Resources:</h3>
            <span ng-repeat="resource in opportunity.resources">
            <a
              href="{{resource.resource.url}}"
              target="_blank"
              >
              {{resource.name}}
            </a>
              <p style="color: black;">
                {{resource.description}}
              </p>
              </span>
              </div>
              <div class="rscard">
                <h3>Collaborators:</h3>
            <span ng-repeat="organization in opportunity.organizations">
            <p>{{organization.name}}</p>
            </span>
              </div>
              <div class="fixer"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>
