

<md-tabs  md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
  <!--<md-tabs class="md-primary" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content" class="md-padding">
      Step 1:  Enter Basic Information
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Step 2:  Enter Schedule
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
      Step 3:  Add to Events and Tag
    </md-tab>
  </md-tabs>-->
  <!-- Basic Information -->
  <md-tab id="tab1">
    <md-tab-label>Add Basic Information</md-tab-label>
    <md-tab-body>
      <md-input-container>
        <label>First Name</label>
        <input ng-model="newPerson.first_name">
      </md-input-container>

      <md-input-container>
        <label>Last Name</label>
        <input ng-model="newPerson.last_name">
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input ng-model="newPerson.email"
               type="email">
      </md-input-container>

      <md-input-container>
        <label>Phone</label>
        <input ng-model="newPerson.phone"
               type="phone">
      </md-input-container>
    </md-tab-body>
  </md-tab>


  <div class="window-bottom-button">
    <md-button class="md-primary tabbutton" ng-click="addPerson()">
      Submit
    </md-button>

  </div>

  <!--<div ng-hide="!newPerson">
    <p ng-repeat="person in organization_people | filter:newPerson" style="color: black">
      {{person.first_name}}  {{person.last_name}}
      <a style="float: right; color: black;"
         ng-click="matchedPerson(person)"
         href="";
        >
        This is My Volunteer!
      </a>
    </p>
  </div>-->
  <md-tab id="tab2">
    <md-tab-label>Add Address Information</md-tab-label>
    <md-tab-body>
      <md-input-container>
        <label>Address Line 1:</label>
        <input type="text" ng-model="person.address_1">
      </md-input-container>

      <md-input-container>
        <label>Address Line 2:</label>
        <input type="text" ng-model="person.address_2">
      </md-input-container>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="person.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="person.state">
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input ng-model="person.zip_code">
        </md-input-container>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab3">
    <md-tab-label>Add Schedule Information</md-tab-label>
    <md-tab-body>
      <person-schedule person-id="{{person.id}}"></person-schedule>
    </md-tab-body>
  </md-tab>
</md-tabs>




