<md-tabs  class="md-primary" md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">


  <!-- <md-content class="md-padding diacontent"> -->
  <md-tab id="tab1">
    <md-tab-label>Add Opportunity Information</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <!--<h1>Add Volunteering Position</h1>-->
          <div layout="row">
          <md-input-container flex="66">
            <label>Opportunity Name</label>
            <input ng-model="newOpportunity.opportunity_name">
          </md-input-container>
            <md-input-container flex="33">
              <label>How Many Volunteers?</label>
              <input ng-model="newOpportunity.volunteer_goal">
            </md-input-container>
          </div>
          <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="newOpportunity.description" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
          <!-- Event Address -->
          <md-input-container flex>
            <label>Address</label>
            <input ng-model="newOpportunity.address">
          </md-input-container>

          <!-- Event Location Information -->
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>City</label>
              <input ng-model="newOpportunity.city">
            </md-input-container>
            <md-input-container flex>
              <label>State</label>
              <input ng-model="newOpportunity.state">
            </md-input-container>
            <md-input-container flex>
              <label>Zip Code</label>
              <input ng-model="newOpportunity.zip_code">
            </md-input-container>
          </div>
          <div class="window-bottom-button">
            <md-button class="md-primary right-bottom-button" ng-click="data.selectedIndex = 1">Next: Enter Scheduling Information</md-button>
          </div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <!-- <md-content class="md-padding diacontent"> -->
  <md-tab id="tab2">
    <md-tab-label>Opportunity Schedule</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <schedule-form
            start-date-text="When will this opportunity start?"
            recurring-label-text="Is this a recurring opportunity?"
            calendar="calendar">
          </schedule-form>
          <div class="window-bottom-button">
            <md-button class="md-primary right-bottom-button" ng-click="data.selectedIndex = 2">Next: Tag Volunteers and Skills</md-button>
            <md-button class="md-primary left-bottom-button" ng-click="data.selectedIndex = 0">Back: Enter Basic Opportunity Information</md-button>
          </div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <!-- <md-content class="md-padding diacontent"> -->
  <md-tab id="tab3">
    <md-tab-label>Additional Resources</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <div layout="row">
            <md-input-container flex="33">
              <label>What's the role name?</label>
              <input ng-model="role.name"
                     required>
            </md-input-container>
            <md-input-container flex="33">
              <label>How many volunteers do you require in this role?</label>
              <input
                type="number"
                ng-model="role.volunteers_required">
            </md-input-container>
            <md-input-container flex="33">
              <label>How many hours are required?</label>
              <input
                type="number"
                ng-model="role.hours_required">
            </md-input-container>
          </div>
          <md-input-container>
            <label>What's the description?</label>
              <textarea
                md-maxlength="250"
                required
                ng-model="role.description">
              </textarea>
          </md-input-container>
          <md-button style="margin-right:0px;float:right;"class="md-raised md-primary" ng-click="createRole(role)">Add Role</md-button>
          <div class="fixer"></div>
          <md-list>
            <md-list-item style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;margin-bottom:10px;" ng-repeat="role in roles"><p>{{role.name}} - {{role.description}}</p></md-list-item>
          </md-list>
          <div class="window-bottom-button">
            <md-button class="md-primary right-bottom-button" ng-click="newOpportunity()">Create Opportunity!</md-button>
            <md-button class="md-primary left-bottom-button" ng-click="data.selectedIndex = 1">Back: Enter Opportunity Schedule</md-button>
          </div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <!-- </md-content> -->
</md-tabs>






