
  <md-tabs class="md-accent" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      Step 1
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Step 2
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
      Step 3
    </md-tab>
  </md-tabs>

  <ng-switch on="data.selectedIndex" class="">
    <div role="tabpanel"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()" class="tabarea">
      <!--<h1>Add Volunteering Position</h1>-->
      <md-input-container>
        <label>Position Name</label>
        <input ng-model="newOpportunity.opportunity_name">
      </md-input-container>
      <md-input-container flex>
        <label>Description</label>
        <textarea ng-model="newOpportunity.description" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
      <!-- Event Address -->
      <md-input-container flex>
        <label>Address</label>
        <input ng-model="newOpportunity.address">
      </md-input-container>

      <!-- Event Location Information -->
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="newOpportunity.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="newOpportunity.state">
        </md-input-container>
        <md-input-container flex>
          <label>Zip Code</label>
          <input ng-model="newOpportunity.zip_code">
        </md-input-container>
      </div>
        <div class="window-bottom-button">
      <button class="btn btn-lg testbutton" ng-click="data.selectedIndex = 1">Next: Enter Scheduling Information</button>
        </div>
    </div>
    <div role="tabpanel"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()"
         class="tabarea">
      <schedule-form
        start-date-text="When will this opportunity start?"
        recurring-label-text="Is this a recurring opportunity?"
        calendar="calendar">
      </schedule-form>
        <div class="window-bottom-button">
      <button class="btn btn-lg testbutton" ng-click="data.selectedIndex = 0">Back: Enter Basic Opportunity Information</button>
      <button class="btn btn-lg testbutton" ng-click="data.selectedIndex = 2">Next: Tag Volunteers and Skills</button>
        </div>
    </div>
    <div role="tabpanel"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()"
         class="tabarea">
        <div class="window-bottom-button">
      <button class="btn btn-lg testbutton" ng-click="data.selectedIndex = 1">Back: Enter Opportunity Schedule</button>
      <button class="btn btn-lg testbutton" ng-click="newOpportunity()">Create Opportunity!</button>
        </div>
    </div>
  </ng-switch>






