<h1 class="text-center">Add Additional Data to Chart</h1>
<p class="lead text-center">(After adding data it can be toggled on and off directly on the map.)</p>

<h3>Facebook Data</h3>
<!-- Timeline Stories -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="post_views"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts, 'post_impressions',
             'Number of Times Your Post Was Viewed')"
             ng-model="$parent.post_views"
             class="md-primary">
  Add Total Number of Post Views to Graph
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="post_views"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.post_views"
             class="md-primary">
  Total Post Views Added
</md-checkbox>

<!-- Unique Impressions -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="unique_impressions"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts,
                      'post_impressions_unique',
                      'The number of people who saw the post')"
             ng-model="$parent.unique_impressions"
             class="md-primary">
  Add Number of People Who Viewed Post to Graph
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="unique_impressions"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.unique_impressions"
             class="md-primary">
  Number of People Who Viewed Post Added
</md-checkbox>

<!-- Liking Unique Impressions Stories -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="unique_impressions_like"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts,
                      'post_impressions_fan_unique',
                      'The number of people who like your page, who saw the post')"
             ng-model="$parent.unique_impressions_like"
             class="md-primary">
  The number of people who like your page, who saw the post
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="unique_impressions_like"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.unique_impressions_like"
             class="md-primary">
  Number of people who like your page, who saw the post added!
</md-checkbox>

<!-- Liking Unique Impressions Stories -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="shared"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts,
                      'shared_post',
                      'The number of people who shared your post')"
             ng-model="$parent.shared"
             class="md-primary">
  Add the number of people who shared the post
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="shared"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.shared"
             class="md-primary">
  Number of people who shared post added!
</md-checkbox>

<!-- Timeline Stories -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="generated_stories"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts, 'post_stories',
             'Stories Generated About Your Facebook Post')"
             ng-model="$parent.generated_stories"
             class="md-primary">
  Add Timeline Stories Generated
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="generated_stories"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.generated_stories"
             class="md-primary">
  Timeline Stories Generated Added
</md-checkbox>

<!-- Organic Impressions -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="organic_impressions"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts, 'post_impressions_organic_unique',
             'The Number of People Who Saw Your Post on Their Timeline, Ticker, or Your Page\'\s Wall.')"
             ng-model="$parent.organic_impressions"
             class="md-primary">
  Add Number of Views Through Users Timeline or Your Page.
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="organic_impressions"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.organic_impressions"
             class="md-primary">
  Number of Views Through Users Timeline or Your Page Added!
</md-checkbox>


<!-- Organic Impressions -->
<md-checkbox md-no-ink aria-label="Add Timeline Stories Generated"
             ng-hide="viral_unique"
             ng-click="toggleImpressionDataOnLineGraph(organization.posts, 'post_impressions_viral_unique',
             'The Number of People Who Saw Your Post Through A Friend')"
             ng-model="$parent.viral_unique"
             class="md-primary">
  Add Number of Users Who Viewed Your Post Through a Friend.
</md-checkbox>
<md-checkbox ng-disabled="true"
             ng-show="viral_unique"
             md-no-ink aria-label="Add Timeline Stories Generated"
             ng-model="$parent.viral_unique"
             class="md-primary">
  Number of Users Who Viewed Your Post Through a Friend Added!
</md-checkbox>
