<div class="content">
  <md-card>
    <md-card-content>
      <h1>Thanks for confirming your email!</h1>
      <div layout="column" class="password-fields" ng-if="!user.password">
        <p>Please Complete Your Registration By Entering a Password:</p>
        <md-input-container flex >
          <label>Password</label>
          <input ng-model="userPass.password" type="password">
        </md-input-container>
        <md-input-container flex>
          <label>Confirm Password</label>
          <input ng-model="userPass.password_confirmation" type="password">
        </md-input-container>
      </div>
      <md-button class="md-primary md-raised"
                 id="confirm-password-button"
                 ng-click="updateNewUserWithPassword()">Add Password</md-button>
    </md-card-content>
  </md-card>
</div>

