.user-confirmation-content {
    text-align: center;
}
.confirmation-fields {
  padding: 6vh 6vw;
  text-align: left;
  p {
    font-size: 18pt;
  }
}
#confirm-password-button {
  float: right;
  margin-right: 4vw;
  width: 20vw;
  height: 6vh;
}
