<md-card class="content user-organization-page">
  <md-card-content ng-if="connected_to_facebook || logged_in && !organization_registration">
    <ul     class="list-group organization-login-list">
      <div ng-repeat="organization in organizations" ng-if="organizations.length > 0">
        <li class="list-group-item" ng-if="organization.exists === true || organization.users.length > 0">
          <img class="organization-login-image" ng-src="{{organization.picture}}">

          <!-- Organization Name -->
          <p class="lead">{{organization.name}}</p>
          <md-button class="md-primary md-raised"
                     ng-click="authorizeUser(organization)"
                     ng-if="organization.fb_id"
            >Home Page
          </md-button>
          <md-button class="md-primary md-raised"
                     ng-click="logInWithEmaiLregistration(organization)"
                     ng-if="organization.users.length > 0"
            >Home Page
          </md-button>
          <small ng-if="organization.volunteer_group" class="organization-type-text">Volunteer Group</small>
          <small ng-if="organization.nonprofit" class="organization-type-text">Nonprofit</small>
        </li>
          <!-- Organization Name -->
      </div>
      <a href="javascript:;" ng-click="createNewOrganization(user)" id="create-organization-link">Create a New Organization</a>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky" ng-if="connected_to_facebook">You Are An Administrator of These Organizations on Facebook Which Can Be Added:</md-subheader>
      <div ng-repeat="organization in organizations">
        <li class="list-group-item" ng-if="organization.exists !== true && !organization.users.length">
          <img class="organization-login-image" ng-src="{{organization.picture}}">

          <!-- Organization Name -->
          <p class="lead">{{organization.name}}</p>

          <!-- Link to the organizations Voluntr if added Page -->
          <md-button ng-if="organization.exists === false"
                     class="md-primary md-raised"
                     ng-click="addFacebookOrganization(organization)">
            Add
          </md-button>
        </li>
      </div>
    </ul>
  </md-card-content>
  <md-card-content ng-if="connected_to_facebook && !organizations">
    <img src="../../images/V_Logo.png">
    <p class="create-facebook-page-text">
      Whoops, looks like you aren't an administrator of any volunteer Facebook pages,
      <a href="https://www.facebook.com/help/104002523024878">if you don't have a Facebook page, create one</a>, or
      <a href="https://www.facebook.com/help/187316341316631">send this link to the manager of your Facebook page to
        get access.</a>
    </p>
    <p class="create-facebook-page-text">
      You can also
      <a ui-sref="organizations.email_registration.1">register with a valid email address</a>
    </p>
  </md-card-content>
</md-card>
