#dialogContent_add-opportunity {
  md-tab-content {
    padding: 16px 12px;
  }
  .resource-list {
    width: 100%;
  }
  #volunteer-required-input {
    font-size: 12pt;
  }
  #add-opportunity-primary-information {
    padding: 16px 0;
    color: white;
    small {
      font-size: 10pt;
    }
    ul {
      list-style: none;
    }
    label {
      color: white;
    }
    input {
      border-color: white;
      font-size: 12pt;
    }
  }
  textarea {
    height: 60px;
  }
}

.auxiliary-open {
  right: 22vw;
  width: 42vw;
}

#add-event-forms {
  .md-header {
    background-color: #00a2cc;
  }
  md-tab-label {
    color: white;
  }
  md-input-container {
    padding-bottom: 0px;
  }
  .md-button.md-default-theme.md-primary.md-raised {
    margin-top: 15px;
    width: 150px;
    float: right;
    margin-right: 15px;
  }
  .k-i-calendar {

  }

  .k-i-clock {

  }
}

