<h4>XLSX Reader demo</h4>
<div class='form-group'>
  <label for='excel_file'>Excel File</label>
  <input type="file"
         name="excel_file"
         onchange="angular.element(this).scope().fileChanged(this.files);"
         required="true">
</div>
<div class='form-group'>
  <label for='sheet_name'>Excel Sheet Name With Volunteer Information</label>
  <select id="sheet_name"
          class="form-control"
          ng-change="updateJSONString()"
          ng-model="selectedSheetName"
          required="true"
          ng-required="true"
          ng-options="sheetName as sheetName for (sheetName, sheetData) in sheets">
    <option value="">---- Select a sheet ----</option>
  </select>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="showPreview" ng-change="showPreviewChanged();">Show preview of excel file
  </label>
</div>
<div ng-show="isProcessing">
  <span>Processing ...</span>
</div>

<input type="hidden" name="sheet_name" value="{{ selectedSheetName }}">

<input type="submit" value="Submit">
<!--<hot-table-->
  <!--settings="{colHeaders: colHeaders, contextMenu: ['row_above', 'row_below', 'remove_row'], afterChange: afterChange }"-->
  <!--rowHeaders="true"-->
  <!--width="800"-->
  <!--minSpareRows="minSpareRows"-->
  <!--datarows="db.items">-->
  <!--<hot-column data="name.first"          title="'First Name'" width="75"></hot-column>-->
  <!--<hot-column data="name.last"           title="'Last Name'" width="75"></hot-column>-->
  <!--<hot-column data="email" title="'Email Address'" width="100"></hot-column>-->
  <!--<hot-column data="phone" title="'Phone Number'" width="75"></hot-column>-->
  <!--<hot-column data="address"             title="'Address'" width="150"></hot-column>-->
  <!--<hot-column data="city"             title="'City'" width="75"></hot-column>-->
  <!--<hot-column data="state"             title="'State'" width="50"></hot-column>-->
  <!--<hot-column data="zip_code"             title="'Zip Code'" width="75"></hot-column>-->
<!--</hot-table>-->

