<div ng-hide="sign_in || update_with_password">
  <h2>Register</h2>
  <md-input-container>
    <label>What's the name of your organization?</label>
    <input ng-model="register.organization_name">
  </md-input-container>
  <md-input-container>
    <label>What's your email adddress?</label>
    <input ng-model="register.user_email" type="email">
  </md-input-container>
  <md-button
    class="md-raised md-primary"
    ng-click="createUser()"
    ng-disabled="!register.organization_name || !register.user_email"
    >Register For Volu</md-button>
  <a href="" ng-click="sign_in = true">Sign In</a>
</div>
<div ng-show="update_with_password">
  <h2>Add Password</h2>
  <md-input-container>
    <label>Password</label>
    <input ng-model="register.password" type="password">
  </md-input-container>
  <md-input-container>
    <label>Confirm Password</label>
    <input ng-model="register.confirm_password" type="password">
  </md-input-container>
  <md-button
    class="md-raised md-primary"
    ng-click="updateNewUserWithPassword()"
    ng-disabled="!register.password || !register.confirm_password || register.confirm_password != register.password"
    >Finish Registration</md-button>
</div>
<div ng-show="sign_in">
  <h2>Sign In</h2>
  <md-input-container>
    <label>Email</label>
    <input ng-model="login.email">
  </md-input-container>
  <md-input-container flex>
    <label>Password</label>
    <input ng-model="login.password" type="password">
  </md-input-container>
  <md-button
    class="md-raised md-primary"
    ng-click="userSignIn()"
    >Sign In To Volu</md-button>
  <a href="" ng-click="sign_in = false">Create a New Volu Account</a>
</div>
