.add-event-modal-window .modal-content {
  padding: 0px;
}

.modal-content{
    border:none;
}

.md-accent{
    top:0px;
    z-index: 1000;
    width:100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
        background-color:#fff;
}

.md-header{height:60px;}

md-tabs.md-default-theme.md-accent .md-header{background-color:#03a9f5;}

md-tabs.md-default-theme.md-accent md-tab:not([disabled]) {
  color: rgba(255,255,255,0.5);
}
  
.window-bottom-button{
 position:fixed;
    bottom:1px;
    left:0px;
    width:100%;
    background-color:#fff;
    z-index: 1000;
    box-shadow: 0px -1px 1px rgba(0,0,0,0.2);
    height:60px;
    line-height:60px;
        border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.testbutton{
    border-radius:2px;
    background-color:#03a9f5;
    color:#fff;
    display:inline-block;
    float:right;
    margin:12px 15px 0px 0px;
    padding:5px 16px;
}

.testbutton:hover{
    color:#fff;
    background-color:#47bcf1;
}

.testbutton:active{
    outline:none;
    color:#fff;
}

.testbutton:focus{
    outline:none;
    color:#fff;
}


.tabarea{
    padding:10px 15px 40px 15px;
    height:500px;
    overflow: scroll;
}

/* sign in*/
.siboxout{
    display:table;
    width:100vw;
    height:100vh;
}
.sibox{
display:table-cell;
vertical-align:middle;}
.sicontent{
width:900px;
    height:500px;
    margin:0 auto;
    background-color:#fff;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    overflow: scroll;
}
.sileft{float:left;
width:250px;
background-color: #03a9f5;
height:100%;
padding:30px 30px;
text-align: center;}

.sileft img{
 width:180px;
}

.sileft h2{
    color:#fff;
    font-weight: 300;
    font-size:20px;
}

.opinfo{text-align: left;
color:#fff;}

.siright{float:left;
width:650px;
padding:20px;}
.fixer{clear:both;}

.siright input[type="text"]{
    border: none;
    border-bottom:1px solid rgba(0,0,0,0.1);
    line-height:30px;
}

.bbutton{
    border-radius:2px;
    background-color:#03a9f5;
    color:#fff;
    display:inline-block;
    float:right;
    padding:5px 16px;
}

.bbutton:hover{
    color:#fff;
    background-color:#47bcf1;
}

.bbutton:active{
    outline:none;
    color:#fff;
}

.bbutton:focus{
    outline:none;
    color:#fff;
}

.searchbar{
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
       padding: 5px 10px;
}




@media screen and (max-width: 900px) {

.sileft{
width:150px;
padding:20px 10px;}

.sileft img{
 width:130px;
}

.siright{
width:450px;}   
    
.sicontent{
width:600px;}
}

@media screen and (max-width: 600px) {

.sileft{
width:100vw;
padding:30px 20px 20px 20px;
height:auto;}

.sileft img{
 width:130px;
}

.siright{
width:100vw;}   
    
.sicontent{
width:100vw;
height:100vh;
}
}

