<h2>Sign In</h2>
<p style="text-align: center;" ng-hide="error">Have an existing account?  Sign in now!</p>
<p ng-show="error" class="error-message">
  {{error}}
</p>
<md-input-container>
  <label>Email</label>
  <input ng-model="login.email">
</md-input-container>
<md-input-container flex>
  <label>Password</label>
  <input ng-model="login.password" type="password">
</md-input-container>
<p id="register-now-text">No account? <a ui-sref="organizations.registration" ng-click="close()">create an account now.</a></p>
<p id="register-now-text">Forgot password? <a ui-sref="" ng-click="close()">Click here to reset password.</a></p>
<md-button
  class="md-raised md-primary"
  ng-click="userSignIn()"
  >Sign In To Volu
</md-button>
<md-button class="md-primary md-raised"
           ng-click="facebook_log_in()"
           id="facebook-log-in">
  Sign In With Facebook
</md-button>
