.log-in-modal .modal-content {
  padding: 2vh 2vh;
  height: auto;
  h2 {
  text-align: center;
  }
  button {
    margin: 2vh 0;
    display: block;
    width: 100%;
  }
  #facebook-log-in {

  }
  #error-message {
    color: red;
    text-align: center;
  }
  #register-now-text {
    position: relative;
    bottom: 20px;
    font-size: 10pt;
  }
}
