
.opportunity-dashboard h4{
    display: block;
    margin-top:0px;
}

.opportunity-dashboard h2{
    margin-bottom:5px;
    font-size:20px;
    color:rgba(0,0,0,0.7);
}


.oppinfo h4{
    display:block;
}
.add-person-day-checkbox {
  md-checkbox div.md-label {
    display: block;
  }
}

#opportunity-people {
  #organization-people-search {
    md-input-container {
      padding: 0px 16px;
    }
  }
}


.opportunity-dashboard {

  .opportunity-dashboard-statistic {
    text-align: center;
  }
  .opportunity-dashboard-label {
    text-align: center;
  }
}

.opportunity-volunteer-list {
  .volunteer-text {
    display: inline-block;
    h3 {
      float: left;
    }
    p {
      float: left;
      clear: left;
    }
  }
  h2 {
    float: right;
    margin-top: 4px;
  }
}

.rscard{
  width: 48%;
  float: left;
  margin: 20px 1%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 2px;
  height: 350px;
  overflow-y: auto;
  small {
    display: block;
  }
  a {
    display: block;
  }
}

.rscard h3{
      font-size: 25px;
  color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rscard h4{
    font-size:15px;
    color:rgba(0,0,0,0.5);
}


