.add-person-day-checkbox {
  md-checkbox div.md-label {
    display: block;
  }
}

.opportunity-information {

}

.opportunity-dashboard {

  .opportunity-dashboard-statistic {
    text-align: center;
  }
  .opportunity-dashboard-label {
    text-align: center;
  }
}

.opportunity-volunteer-list {
  overflow: auto;
  height: 284px;
  .volunteer-text {
    display: inline-block;
    h3 {
      float: left;
    }
    p {
      float: left;
      clear: left;
    }
  }
  h2 {
    float: right;
    margin-top: 4px;
  }
}


.rscard{
    width:30%;
    float:left;
    margin:20px 1.66%;
    background-color:rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding:10px;
    border-radius: 2px;
    height:350px;
    overflow: scroll;
}

.rscard h2{
      font-size: 25px;
  color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.rscard h4{
    font-size:15px;
    color:rgba(0,0,0,0.5);
}

