<md-tabs class="md-primary"
         md-dynamic-height
         md-selected="data.selectedIndex"
         md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

  <!-- Event Information -->
  <md-tab id="tab1">
    <md-tab-label>Dashboard</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <div class="row oppinfo">
            <div class="col-md-3">
              <img src=""
                   class="face">
            </div>
            <div class="col-md-9">
              <edit-object-directive
                text_name="name"
                model-type="opportunity"
                attribute-name="name"
                model-id="{{opportunity.id}}"
                text="{{opportunity.name}}"
                size="title_text"
                ></edit-object-directive>
              <md-divider></md-divider>
              <h4 >Address:</h4>
              <edit-address
                address="{{opportunity.address}}"
                zip-code="{{opportunity.zip_code}}"
                state="{{opportunity.state}}"
                city="{{opportunity.city}}"
                model-id="{{opportunity.id}}"
                address-type="opportunity"
                >
              </edit-address>
              <h4 >Description:</h4>
              <edit-object-directive
                model-type="opportunity"
                attribute-name="description"
                model-id="{{opportunity.id}}"
                text="{{opportunity.description}}"
                size="paragraph_text"
                ></edit-object-directive>
            </div>
          </div><br/>
          <md-divider></md-divider>
          <div class="opportunity-dashboard">
            <div class="row">
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.total_recorded_hours}}</h2>
                <h4 class="opportunity-dashboard-label">Total Hours</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.selected_instance_recorded_hours}}</h2>
                <h4 class="opportunity-dashboard-label">Hours This Instance</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.total_people_recording}}</h2>
                <h4 class="opportunity-dashboard-label">Volunteers</h4>
              </div>
              <div class="col-xs-3">
                <h2 class="opportunity-dashboard-statistic">{{opportunity.selected_instance_people_recording}}</h2>
                <h4 class="opportunity-dashboard-label">Volunteers This Instance</h4>
              </div>
            </div>
            <md-divider></md-divider>
            <div class="row">
              <highchart config="instanceStatisticGraphConfig"></highchart>
            </div>
          </div>
        </div>
        <div class="window-bottom-button">
          <md-button class="md-primary" style="float:right;" href=""
                     report-link
                     type="opportunity"
                     id="{{opportunity.id}}">
            Export PDF Report
          </md-button>
        </div>
      </div>
    </md-tab-body>
  </md-tab>

  <!-- Opportunity Schedule -->
  <md-tab id="tab2">
    <md-tab-label>Schedule</md-tab-label>
    <md-tab-body>
        <object-schedule
          object-type="opportunity"
          object="opportunity"
          ></object-schedule>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab3">
    <md-tab-label>People</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <div class="row">
            <div class="col-md-12" style="position: relative">
              <highchart ng-show="opportunity.opportunity_roles.length != 0" config="opportunityRolesChart"></highchart>
            </div>
          </div>          <md-divider></md-divider>
          <md-list class="opportunity-volunteer-list">
            <md-list-item class="md-2-line" ng-repeat="volunteer in opportunity.volunteers">
              <div class="md-list-item-text">
                <div class="volunteer-text">
                  <h3>{{volunteer.first_name}} {{volunteer.last_name}}</h3>
                  <p>{{volunteer.email}}</p>
                </div>
                <h2>{{volunteer.opportunity_hours}}</h2>
              </div>
            </md-list-item>
          </md-list>
        </div>
        <div class="window-bottom-button">
          <md-button
            class="md-primary"
            ng-csv="getArray()"
            style="float:right;"
            filename="{{opportunity.name}}_volunteers.csv"
            csv-header="['First Name', 'Last Name', 'Email Address', 'Hours Recorded']">
            Export To CSV</md-button>

        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab4">
    <md-tab-label>Recorded Hours</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <md-list>
            <recorded-hour ng-repeat="recorded_hour in opportunity.recorded_hours"
                           recorded-hour="recorded_hour"
                           recorded-hours="opportunity.recorded_hours"
                           type="opportunity"></recorded-hour>
          </md-list>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab5">
    <md-tab-label>Resources</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin">
          <!--<div class="rscard">
            <h3>Resources</h3>
            <add-resources></add-resources></div>-->
          <div class="rscard">
            <h3>Opportunity Roles</h3>
            <md-input-container>
              <label>What's the role name?</label>
              <input ng-model="opportunity_role.name">
            </md-input-container>
            <md-input-container>
              <label>What's the description?</label>
              <input ng-model="opportunity_role.description">
            </md-input-container>
            <md-button
              class="md-primary md-raised"
              ng-click="createOpportunityRole(opportunity_role)">
              Create Opportunity Role</md-button>
            <md-subheader class="md-no-sticky">Current Roles</md-subheader>
            <md-list>
              <md-list-item ng-repeat="opportunity_role in opportunity.opportunity_roles">
                <p>{{opportunity_role.name}} - {{opportunity_role.description}}</p>
                <a style="float:right;"href="" ng-click="deleteOpportunityRole(opportunity_role)">Delete</a>
              </md-list-item>
            </md-list>

          </div>
          <div class="rscard">
            <h3>Links</h3>
            <h4>These Links Can Be Used to Register and Sign In Volunteers at the Opportunity:</h4>
            <a ui-sref="registration_form({opportunity_Id:opportunity.id})">
              Registration Form for Opportunity</a>
            <br>
            <a ui-sref="sign_in_form({opportunity_Id:opportunity.id})">
              Sign In Form for Opportunity</a>
          </div>

          <div class="fixer"></div>
        </div>
        <div class="window-bottom-button"></div>
      </div>
    </md-tab-body>
  </md-tab>
</md-tabs>

