<!-- Tabs Menu -->
<md-tabs class="md-accent" md-selected="data.selectedIndex">
  <md-tab id="tab1" aria-controls="tab1-content">
    Opportunity Dashboard
  </md-tab>
  <md-tab id="tab2" aria-controls="tab2-content">
    Opportunity Scheduler
  </md-tab>
  <md-tab id="tab3" aria-controls="tab3-content">
    Add People To Opportunity
  </md-tab>
</md-tabs>

<!-- Event Information -->
<ng-switch on="data.selectedIndex" class="tabpanel-container">


  <div role="tabpanel"
       aria-labelledby="tab1"
       ng-switch-when="0"
       md-swipe-left="next()"
       md-swipe-right="previous()" >


    <edit-object-directive
      text_name="name"
      model-type="opportunity"
      attribute-name="name"
      model-id="{{opportunity.id}}"
      text="{{opportunity.name}}"
      size="title_text"

      ></edit-object-directive><br>


    <edit-object-directive
      model-type="opportunity"
      attribute-name="description"
      model-id="{{opportunity.id}}"
      text="{{opportunity.description}}"
      size="paragraph_text"

      ></edit-object-directive><br>
    <edit-object-directive
      model-type="opportunity"
      attribute-name="address"
      model-id="{{opportunity.id}}"
      text="{{opportunity.address}}"
      size="subtitle_text"

      ></edit-object-directive><br>
    {{opportunity.zip_code}}
    {{opportunity.city}}
    <br>

    <p style="display: inline-block">Volunteers Required:</p>
    <edit-object-directive
      model-type="opportunity"
      attribute-name="volunteer_goal"
      model-id="{{opportunity.id}}"
      text="{{opportunity.volunteer_goal}}"
      size="subtitle_text"
      ></edit-object-directive><br>


    <h2>These Links Can Be Used to Register and Sign In Volunteers at the Opportunity:</h2>
    <a ui-sref="registration_form({opportunity_Id:opportunity.id})">
      Registration Form for Opportunity</a>
    <br>
    <a ui-sref="sign_in_form({opportunity_Id:opportunity.id})">
      Sign In Form for Opportunity</a>


    <!-- List of Volunteers Who Have Been Registered -->
    <md-list layout="column" ng-if="opportunity.people.length != 0">
      <h3>Interested Volunteers:</h3>
      <md-item ng-repeat="person in opportunity.signed_up_volunteers">
        <md-item-content>
          <div class="md-tile-left">
            <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=small"
                 class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3>{{person.first_name}} {{person.last_name}}</h3>
          </div>
          <div class="md-tile-right">
            Committed?
            <md-checkbox
              ng-model="new_volunteer"
              ng-click="commitVolunteer(person)"
              aria-label="Committed Volunteer?"
              style="display: inline-block;">

            </md-checkbox>
          </div>
        </md-item-content>
      </md-item>
    </md-list>

  </div>

  <!-- Opportunity Schedule -->
  <div role="tabpanel"
       ng-switch-when="1"
       md-swipe-left="next()"
       md-swipe-right="previous()" >

    <object-schedule
      object-type="opportunity"
      object="opportunity"
      ></object-schedule>

  </div>

  <div role="tabpanel"
       id="create-person-record"
       ng-switch-when="2"
       md-swipe-left="next()"
       md-swipe-right="previous()" >
    <md-list layout="column">
      <h3>Add Volunteer To Event:</h3>
      <input ng-model="find_volunteer">
      <md-item ng-repeat="person in organization_people | filter:find_volunteer">
        <md-item-content>
          <div class="md-tile-left">
            <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=small"
                 class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3>{{person.first_name}} {{person.last_name}}</h3>
            <h4>Some important notes here</h4>
            <a href="" ng-click="addOpportunityPersonModal('lg', person)" style="float: right;">
              Add To Opportunity</a>
          </div>
        </md-item-content>
      </md-item>
    </md-list>

  </div>
</ng-switch>

