<md-tabs class="md-primary" md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
  <md-tab id="tab1">
    <md-tab-label>Dashboard</md-tab-label>
    <md-tab-body >
      <div class="tabcontrol">
        <div class="tabcontrolin persontab" >
          <div class="row person-information">
            <div class="col-md-3">
              <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=large"
                   class="face">
            </div>
            <div class="col-md-9">
              <h2>{{person.first_name}} {{person.last_name}}</h2>
              <md-divider></md-divider>
              <div class="col-md-6">
              <h4 >Email:</h4>
              <edit-object-directive
                text_name="email"
                model-type="person"
                attribute-name="email"
                model-id="{{person.id}}"
                text="{{person.email}}"
                placeholder="Email Address"
                size="paragraph_text"
                ></edit-object-directive><br>
              <h4 >Address:</h4>
              <edit-address
                address="{{person.address}}"
                zip-code="{{person.zip_code}}"
                state="{{person.state}}"
                city="{{person.city}}"
                model-id="{{person.id}}"
                address-type="person"
                >
              </edit-address><a href="" report-link type="person" id="{{person.id}}">Export PDF Report</a>
              </div>
              <div class="col-md-6">
                <h4 >Notes:</h4><br>
                <edit-object-directive
                  text_name="notes"
                  model-type="organization_person"
                  attribute-name="notes"
                  model-id="{{organization_person_id}}"
                  text="{{person.notes}}"
                  placeholder="Notes"
                  size="paragraph_text"
                  ></edit-object-directive>
              </div>
            </div>

          </div><br/>
          <md-divider></md-divider>
          <div class="row person-dashboard">
            <highchart config="personStatisticGraphConfig"></highchart>
          </div>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab2">
    <!-- The Opportunities Tab -->
    <md-tab-label>Opportunities</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin persontab">
          <div ng-show="person.opportunities.length == 0" class="no-data-div">
            <h2>This Person Hasn't Volunteered at Any Opportunities Yet!</h2>
          </div>
          <highchart config="personOpportunitiesChart"></highchart>
          <md-list>
            <md-item ng-repeat="person_opportunity in person.opportunities">
              <md-item-content>
                <div class="md-tile-content">
                  <h3>{{person_opportunity.opportunity.name}}</h3>
                  <h3>{{person_opportunity.total_hours}}</h3>
                </div>
              </md-item-content>
            </md-item>
          </md-list>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab3">
    <md-tab-label>Recorded Hours</md-tab-label>
    <md-tab-body>
      <div class="tabcontrol">
        <div class="tabcontrolin persontab" >
          <div ng-show="person.recorded_hours.length == 0" class="no-data-div">
            <h2>This Person Hasn't Recorded Any Hours!</h2>
          </div>
          <md-list>
            <recorded-hour ng-repeat="recorded_hour in person.recorded_hours"
                           recorded-hour="recorded_hour"
                           recorded-hours="person.recorded_hours"
                           type="person"></recorded-hour>
          </md-list>
        </div>
      </div>
    </md-tab-body>
  </md-tab>
</md-tabs>
