<md-dialog flex="90" style="height:90vh">
  <md-toolbar class="md-tall">
    <div layout="row" layout-xs="column">
      <div flex="20" style="padding: 16px 18px;">
      <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=large"
           class="face"
        style="height: 100px;">
      </div>
      <div flex="60" class="object-dialog-toolbar-component">
        <h2>{{person.first_name}} {{person.last_name}}</h2>
        <edit-object-directive
          text_name="email"
          model-type="person"
          attribute-name="email"
          model-id="{{person.id}}"
          text="{{person.email}}"
          placeholder="Email Address"
          size="subtitle_text"
          style="color: white;font-size:12pt;"
          ></edit-object-directive><br>
      </div>
      <div flex="20" class="object-dialog-toolbar-component">
        <!--<md-button class="ion-close dialog-close-button" ng-click="cancel()">
        </md-button>-->
        <ul class="dialog-toolbar-action-list">
          <li><a href="javascript:;" report-link type="person" id="{{person.id}}">Get Report</a></li>
        </ul>
      </div>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <md-tab id="tab2">
        <md-tab-label>Dashboard</md-tab-label>
        <md-tab-body >
              <div class="row person-dashboard">
                <highchart config="personStatisticGraphConfig"></highchart>
              </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab1">
        <md-tab-label>Information</md-tab-label>
        <md-tab-body >
          <div class="row person-information">
            <div class="col-md-3">
              <h4 >Phone:</h4>
              <edit-object-directive
                text_name="phone"
                model-type="person"
                attribute-name="phone"
                model-id="{{person.id}}"
                text="{{person.phone}}"
                placeholder="Phone Number"
                size="subtitle_text"
                ></edit-object-directive><br>
            </div>
            <div class="col-md-9">
              <div class="col-md-6">
                <h4 >Address:</h4><br>
                <edit-address
                  address1="{{person.address_1}}"
                  address2="{{person.address_2}}"
                  zip-code="{{person.zip_code}}"
                  state="{{person.state}}"
                  city="{{person.city}}"
                  model-id="{{person.id}}"
                  address-type="person"
                  ></edit-address>
              </div>
              <div class="col-md-6">
                <h4 >Notes:</h4><br>
                <edit-object-directive
                  text_name="notes"
                  model-type="organization_person"
                  attribute-name="notes"
                  model-id="{{organization_person_id}}"
                  text="{{person.notes}}"
                  placeholder="Notes"
                  size="paragraph_text"
                  ></edit-object-directive>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab1">
        <md-tab-label>Availability Schedule</md-tab-label>
        <md-tab-body >
          <div class="tabcontrol">
            <div class="tabcontrolin persontab" >
              <md-button
                ng-show="!edit_schedule"
                ng-click="edit_schedule = true"
                class="md-primary md-raised"
                >Edit Default Schedule</md-button>
              <md-button auxiliary-modal-window
                         ng-show="!edit_schedule"
                         type="person-custom-schedule"
                         class="md-secondary md-raised"
                         id="{{person.id}}"
                         object="custom_calendar" >Add Custom Schedule</md-button>
              <a href=""
                 ng-show="edit_schedule"
                 class="person-detail-edit-schedule-link"
                 ng-click="edit_schedule = false">Back to Schedule</a>
              <div
                ng-show="!edit_schedule"
                ui-calendar="uiConfig.myCalendar"
                calendar="calendar"
                ng-model="eventSources"
                style="overflow:hidden;">
              </div>
              <person-schedule
                ng-if="edit_schedule"
                person-id="{{person.id}}"
                schedule="schedule"></person-schedule>
              <md-button
                class="md-primary md-raised right-bottom-button"
                ng-click="updateWithSchedule()"
                ng-show="edit_schedule"
                >Update Schedule</md-button>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <!-- The Opportunities Tab -->
        <md-tab-label>Opportunities</md-tab-label>
        <md-tab-body>
          <div class="tabcontrol">
            <div class="tabcontrolin persontab">
              <div ng-show="person.opportunities.length == 0" class="no-data-div">
                <h2>This Person Hasn't Volunteered at Any Opportunities Yet!</h2>
              </div>
              <highchart config="personOpportunitiesChart"></highchart>
              <md-list>
                <md-item ng-repeat="person_opportunity in person.opportunities">
                  <md-item-content>
                    <div class="md-tile-content">
                      <h3>{{person_opportunity.opportunity.name}}</h3>
                      <h3>{{person_opportunity.total_hours}}</h3>
                    </div>
                  </md-item-content>
                </md-item>
              </md-list>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Recorded Hours</md-tab-label>
        <md-tab-body>
          <div class="tabcontrol">
            <div class="tabcontrolin persontab" >
              <div ng-show="person.recorded_hours.length == 0" class="no-data-div">
                <h2>This Person Hasn't Recorded Any Hours!</h2>
              </div>
              <md-list>
                <recorded-hour ng-repeat="recorded_hour in person.recorded_hours"
                               recorded-hour="recorded_hour"
                               recorded-hours="person.recorded_hours"
                               type="person"></recorded-hour>
              </md-list>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
</md-dialog>

