<!--<md-tabs class="md-primary" md-dynamic-height >
  <md-tab id="tab1">
    <md-tab-label>Record Hours</md-tab-label>
    <md-tab-body >   -->
<md-toolbar style="min-height:48px !important;">
    <h3 style="margin:10px 0px 10px 10px;font-size:14px;line-height:28px;">RECORD HOURS TO A PEROSON</h3>
</md-toolbar>
        <div class="tabcontrol">
            <div class="tabcontrolin persontab" >
             <!-- <h2 style="color:rgba(0,0,0,0.6);">Assign new hours to a person</h2>
            <md-divider></md-divider><br/><br/>-->
<div layout layout-md="column">
    <md-input-container flex class="record-hours-name">
      <label>First Name</label>
      <input ng-model="first_name">
    </md-input-container>
    <md-input-container flex class="record-hours-name">
      <label>Last Name</label>
      <input ng-model="last_name">
    </md-input-container>
    <md-input-container flex>
      <label>Email Address</label>
      <input
        type="email"
        ng-model="email">
    </md-input-container>
    </div>
  <a href="#" ng-click="clearPerson()" ng-show="volunteer_id">Clear Person</a>
  <md-checkbox ng-show="filtered.length === 0 && !volunteer_id"
               aria-label="New Volunteer?"
               ng-model="new_volunteer">
    New Volunteer?
  </md-checkbox>
<md-card class="search-box" ng-show="results && !volunteer_id && filtered.length !== 0">
  <md-card-content>
      <p style="color:rgba(0,0,0,0.5);">You can click from those suggestions:</p>
    <md-list>
        <md-list-item ng-repeat="person in filtered" ng-click="selectHoursPerson(person)">

        <p>{{person.first_name}} {{person.last_name}}</p>


            </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<div class="row">
  <md-input-container class="hours-description">
    <label>Notes about these hours</label>
    <textarea ng-model="description" columns="1" md-maxlength="150"></textarea>
  </md-input-container>
</div>
<p style="color:rgba(0,0,0,0.5);">Use the slider to select hours</p>      
<md-slider flex class="md-primary" md-discrete ng-model="recordHours.hours" step=".5" min=".5" max="24" aria-label="rating">
</md-slider>
<md-button style="margin-left:0px;"class="md-raised md-primary"
        ng-click="recordHours()">Record Hours</md-button>

     </div>
        </div>
     <!-- </md-tab-body>
    </md-tab>
</md-tabs>-->