<div>
  Leaderboard
  <div class="">
    {{data.lb.volunteers}} volunteers
  </div>
  <div class="">
    {{data.lb.volunteer_hours}} volunteer hours
  </div>
  <div class="">
    ${{data.lb.volunteer_dollars}} volunteer dollars <span><a href="">(?)</a></span>
  </div>
  <div class="">
    Most Active Teams <span><a href="">(?)</a></span>
    <ol>
      <li ng-repeat="team in data.lb.most_active_teams">
        <span>{{team.name}}</span> <span>{{team.score}}</span>
      </li>
    </ol>
    <a href="">more</a>
    <a ui-sref="team">more team stats</a>
  </div>
  <div class="">
    Top Non-Profit By Hours
    <ol>
      <li ng-repeat="nonprofit in data.lb.top_nonprofits">
        <span>{{nonprofit.name}}</span> <span>{{nonprofit.hours}}</span>
      </li>
    </ol>
    <a href="">more</a>
    <a href="">more non-profit stats</a>
  </div>
  <div class="">
    Top Individual By Hours
    <ol>
      <li ng-repeat="individual in data.lb.top_individuals">
        <span>{{individual.name}}</span> <span>{{individual.hours}}</span>
      </li>
    </ol>
    <a href="">more</a>
    <a href="">more individual stats</a>
  </div>
  </div>
</div>
