<md-card class="content" id="tutorial-content" style="">
  <md-card-content>

    <div ui-view></div>
                <div class="ttbutton">
          <a href="" ng-click="backFunction()" style="display:block;">
          <p>PREVIOUS<br/><span>{{back_link_text}}</span></p>
          </a></div>
      <div class="ttbutton ttright">
          <a href="" ng-click="forwardFunction()" style="display:block;">
          <p>NEXT<br/><span>{{link_text}}</span></p>
</a></div>


  </md-card-content>
</md-card>

