#tutorial-content {
  position: relative;
  top: 10vh !important;
  padding: 4vh 8vw;
  md-content: {
    padding: 0;
  }
  h1 {
   margin-bottom: 24px;
  }
  p{
    margin-top:25px;
    margin-bottom: 35px;
  }
  img{
    max-width: 100%;
    height: 35vh;
  }

  .ttbutton{
    display: block;
    width:50%;
    position: relative;
    bottom: 6vh;
    box-sizing: border-box;
    float:left;
    text-align: left;
    font-size:15px;
    font-weight: light;
  }

  .picc{
    width:100%;
    text-align: center;
  }
  .ttbutton {
    margin-bottom: 0;
  }

  .ttbutton a{
    color:rgba(0,0,0,0.5) !important;
  }

  .ttbutton p{
    font-weight: 500;
    margin-bottom: 2px;
    color:rgba(0,0,0,0.7) !important;
  }

  .ttbutton span{
    font-weight: 300;
    color:rgba(0,0,0,0.5) !important;
  }

  .ttright{
    text-align: right;
  }

  @media screen and (max-width: 400px){
    .ttmain h1{
      font-size:16px;
    }
    .ttmain{
      padding:25px;
    }
  }

  @media screen and (max-width: 720px){
    .ttmain h1{
      font-size:25px;
    }
    .ttmain{
      padding:25px;
    }
  }

  .tutorial-image {
    width:auto;
  }
}


