.dashboard-module {
    height: auto;
    overflow: hidden;
  .icon {
    font-size: 18pt; padding-right: 12px;
  }
  img {
    height: 50px;
    width: 50px;
  }
  h3 {
    margin: 6px 0;
        color: rgba(0,0,0,0.7) !important;
  }
}

.homecsm{

    height: 300px;
    overflow: auto;
}
 .s36 {
  width: 30px;
  height: 30px;
    opacity: 0.6;
     margin-left: 10px;
 }
