<div class="content">
  <md-card id="home-dashboard">
    <md-card-content>
      <div ng-show="!loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div layout="row" id="organization-home-statistics">
        <div flex="25">
          <h4>Total Volunteers</h4>
          <p>{{organization.statistics.volunteers}}</p>
        </div>
        <div flex="25">
          <h4>Total Hours Recorded</h4>
          <p>{{organization.statistics.total_hours}}</p>
        </div>
        <div flex="25">
          <h4>Number of Opportunities</h4>
          <p>{{organization.statistics.total_opportunities}}</p>
        </div>
        <div flex="25">
          <h4>Average Hours Recorded</h4>
          <p>{{organization.statistics.average_hours_recorded}}</p>
        </div>
      </div>
      <highchart
        ng-show="loaded"
        config="lineGraphConfig">
      </highchart>
    </md-card-content>
  </md-card>
  <div class="row"   style="margin: 0 -15px;">

    <div class="col-md-6">
      <md-card class="dashboard-module">
        <h3 class="dashboard-module-header">Recently Recorded Hours</h3>
        <md-card-content ng-show="loaded" class="dashboard-module-content">
          <div ng-show="!loaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div ng-show="loaded">
            <md-list layout="column">
              <recorded-hour ng-repeat="recorded_hour in organization.recorded_hours | orderBy:'-updated_at'"
                             recorded-hour="recorded_hour"
                             recorded-hours="organization.recorded_hours"
                             type="opportunity"></recorded-hour>
            </md-list>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-md-6">
      <md-card class="dashboard-module">
        <h3 class="dashboard-module-header">Volunteers to Contact</h3>
        <md-card-content class="dashboard-module-content">
          <div ng-show="!loaded" ng-show="loaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div>
            <md-list
              ng-show="organization.contact_volunteers.length !== 0"
              >
              <md-list-item ng-repeat="volunteer in organization.contact_volunteers" layout>

                  <div flex="90">
                    <a href="javascript:;" person-modal class="person-name" id="{{volunteer.id}}">{{volunteer.first_name}} {{volunteer.last_name}}</a>
                  </div>
                  <div flex="10">
                    <a href="mailto:{{volunteer.email}}" class="ionicon ion-email" ng-if="volunteer.email"></a>
                    <a href="tel:{{volunteer.phone}}" class="ionicon ion-ios-telephone" ng-if="volunteer.phone"></a>
                  </div>

              </md-list-item>
            </md-list>
          </div>

          <!-- <div class="md-tile-content">
             <h4 person-modal size="lg" id="{{volunteer.id}}">
               {{volunteer.first_name}} {{volunteer.last_name}}</h4>
           </div>-->
          <md-item>
            <md-item-content ng-show="organization.contact_volunteers.length === 0">
              <p>You don't need to contact any volunteers right now!</p>

            </md-item-content>
          </md-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>


