<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />

    <link href="../styles/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->



    <!-- your app's js -->
    <script src="scripts/app.js"></script>
  </head>
  <body ng-controller="LandingPageCtrl" style="width:100%">
    <div id="firstpage">
        <div style="background-image: url('../../../../../../../Downloads/voluntr/public/images/about_page_1.gif')" class="center-block">
          <div style="width:100%">
            <span class="navbar" ng-click="gotoNav('secondpage')">The Problem</span>
            <span class="navbar" ng-click="gotoNav('thirdpage')">Our Solution</span>
            <span class="navbar" ng-click="gotoNav('fourthpage')">The ToolKit</span>
            <span class="navbar" ng-click="gotoNav('fifthpage')" style="float:none">Connect to Volu</span>
        </div>
          <div >
            <div class="exactCenter">
              <h1> <span class="volu"><img src="../../../../../../../Downloads/voluntr/public/images/Volu%20logo%20full-02.png" class="v" alt="V"></h1>
            </div>
          </div>
        <div class="footer1">
            <span style="padding-left:30px;">
              Volu is a tool for non-profits and volunterrs to connect and improve the world together.
            </span>
        </div>
        <div style="padding-bottom:120px;">
          <div >
            <button ng-click="hideEvents()" class="buttonstyling">Connect to Volu</button>
          </div>
          <div style="display:none" id="connectDiv">
              <div ng-click="organizationsLandingpage()" class="liststyling">For Organizers</div>
              <div ng-click="volunteersLandingpage()" class="liststyling">For Volunteers</div>
          </div>
        </div>
      </div>

        <div class="secondpage" id="secondpage" style="height:100%">
          <div class="navigation" style="background-color:#74BBF9">
            <div class="navbarimg" ng-click="gotoNav('firstpage')"><img src="../../../../../../../Downloads/voluntr/public/images/v_small.png" height="33px" width="40px"></div>
            <span class="navbarrest" style="background-color:#74BBF9" ng-click="gotoNav('secondpage')">The Problem</span>
            <span class="navbarrest" style="background-color:#3156A7" ng-click="gotoNav('thirdpage')">Our Solution</span>
            <span class="navbarrest" style="background-color:#5A90D8" ng-click="gotoNav('fourthpage')">The ToolKit</span>
            <span class="navbarrest" style="background-color:#5DA2C1;width:23%" ng-click="gotoNav('fifthpage')">Connect to Volu</span>
          </div>
          <div class="secondpageinfo">
            <h2><b>You have a lot to do</b></h2>
              <div style="margin-top:10px">Manage your Organization;</div>
              <div style="margin-top:10px">Plan and run your events;</div>
              <div style="margin-top:10px">Find volunteers to staff tehm;</div>
              <div style="margin-top:10px">Hope that your outreach is working...</div>
          </div>
        </div>

        <div class="thirdpage" id="thirdpage">
          <div class="navigation" style="background-color:#3156A7">
            <div class="navbarimg" ng-click="gotoNav('firstpage')"><img src="../../../../../../../Downloads/voluntr/public/images/v_small.png" height="33px" width="40px"></div>
            <span class="navbarrest" style="background-color:#74BBF9" ng-click="gotoNav('secondpage')">The Problem</span>
            <span class="navbarrest" style="background-color:#3156A7" ng-click="gotoNav('thirdpage')">Our Solution</span>
            <span class="navbarrest" style="background-color:#5A90D8" ng-click="gotoNav('fourthpage')">The ToolKit</span>
            <span class="navbarrest" style="background-color:#5DA2C1;width:23%" ng-click="gotoNav('fifthpage')">Connect to Volu</span>
          </div>
          <div class="secondpageinfo" style="background-color:#3156A7">
            <div>
              <h1><b>We Want to help.</b></h1>
              <p>Volu is here to be your assitant</p>
            </div>
            <div style="margin-top:40px">
              <p>our tool kit takes a huge chunk<br/>of the boring stuff off of your back,
                <br/>so you can get back to what you do best:</p>
              <div style="font-size:25px"><i>making a difference</i></div>
            </div>
          </div>
          <div class="navigation" style="background-color:#3156A7"></div>
        </div>

        <div class="fourthpage" id="fourthpage" style="width:100%;">
          <div class="navigation" style="background-color:#5A90D8">
            <div class="navbarimg" ng-click="gotoNav('firstpage')" ><img src="../../../../../../../Downloads/voluntr/public/images/v_small.png" height="33px" width="40px"></div>
            <span class="navbarrest" style="background-color:#74BBF9" ng-click="gotoNav('secondpage')">The Problem</span>
            <span class="navbarrest" style="background-color:#3156A7" ng-click="gotoNav('thirdpage')">Our Solution</span>
            <span class="navbarrest" style="background-color:#5A90D8" ng-click="gotoNav('fourthpage')">The ToolKit</span>
            <span class="navbarrest" style="background-color:#5DA2C1;width:23%" ng-click="gotoNav('fifthpage')">Connect to Volu</span>
          </div>
          <div style="background-color:#5A90D8" class="toolheading"><b>Our ToolKit</b></div>
          <div class="toolkit">
            <div style="background-color:#5A90D8;width:100%;">
              <div class="tools">
                <div style="padding-left:4%"><img src="../../../../../../../Downloads/voluntr/public/images/circle.png" height="200px" width="200px"></div>
                <div style="margin-top:10%" >
                  <p style="color:#FFFFFF">Using social media, you can see<br/>how your posts affect the turnout<br/>
                      at your events,the demographics<br/> of your volunteers, and many other<br/>
                      criteria that will help you advertise<br/>and plan better for future.
                  </p>
                </div>
              </div>
              <div class="tools">
                <div style="padding-left:2%"><img src="../../../../../../../Downloads/voluntr/public/images/circle.png" ng-click="gotoNav('firstpage')" height="200px" width="200px"></div>
                <div style="margin-top:10%">
                 <p style="color:#FFFFFF">Import your events from <br/>Facebook or Eventbrite and see<br/>
                    when other organizatons are<br/>
                    having events to prevent conflicts.
                 </p>
                </div>
              </div>
              <div class="tools" style="width:35%">
                <div style="padding-left:2%"><img src="../../../../../../../Downloads/voluntr/public/images/circle.png" height="200px" width="200px"></div>
                <div style="margin-top:6%">
                  <p style="color:#FFFFFF">Volunteer management is a task in itself.<br/>This tool keeps track of each  volunteers<br/>hours per event and for your organization<br/>in general. You can see at a glance who is<br/>helping you regularly,and where to look<br/>for volunteers like them.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="fifthpage" id="fifthpage" style="width:100%;background-color:#5DA2C1;color:#FFFFFF;">
          <div class="navigation" style="background-color:#5DA2C1">
            <div class="navbarimg" ng-click="gotoNav('firstpage')" ><img src="../../../../../../../Downloads/voluntr/public/images/v_small.png" height="33px" width="40px"></div>
            <span class="navbarrest" style="background-color:#74BBF9" ng-click="gotoNav('secondpage')">The Problem</span>
            <span class="navbarrest" style="background-color:#3156A7" ng-click="gotoNav('thirdpage')">Our Solution</span>
            <span class="navbarrest" style="background-color:#5A90D8" ng-click="gotoNav('fourthpage')">The ToolKit</span>
            <span class="navbarrest" style="background-color:#5DA2C1;width:23%" ng-click="gotoNav('fifthpage')">Connect to Volu</span>
          </div>
          <div class="fifthheading">At the end of the day, we want to make Volu yours</div>
          <div class="yearfree"></div>
          <button ng-click="" class="buttonstyling" style="margin-left:40%;margin-top:5%">Sign up now with Facebook</button>
          <div style="margin-left:35%;margin-top:20px">
            <p>We will use your feedback to add new tools and improve Volu.</p>
          </div>
          <div style="margin-top:2%; padding-bottom:4%;margin-left:5%">
            Contact Us<br/>email@volu.com<br/>315 555 5555
            <span style="float:right;margin-right:5%">Copyright Volu 2015</span>
          </div>
        </div>
      </div>
  </body>
</html>

