.introduction {
  text-align: center;
  position: relative;
  top: 33vh;
  h1 {
    font-size: 48pt;
    margin-bottom: 2vh;
  }
  button {
    display: none;
  }
}

.loaded {
  text-align: center;
  position: relative;
  top: 4vh;
  h1 {
    font-size: 24pt;
    margin-bottom: 2vh;
  }
  h2 {
    text-align: center;
    font-weight: bold;
  }
}

.vd-2016 {
  margin: 0 auto;
  display: block;
  font-size: 14pt;
  margin-top: 12vh;
  width: 60vw;
  text-align: center;
}


