<div class="volunteer_drive_2016">
  <div ng-class="{introduction: introduction, loaded: loaded}">
  <h1>VOLUnteer Drive 2016</h1>
  <h4>Syracuse, NY</h4>
  </div>
  <div ng-if="loaded">
    <ui-view></ui-view>
  </div>
  <div ng-class="{introduction: introduction, loaded: loaded}" ng-hide="no_buttons">
    <md-button class="md-raised md-primary" ng-click="formScreen()">Apply As A Non Profit</md-button>
    <md-button class="md-raised" ng-click="changeState('screen_1')">How Does It Work?</md-button>
  </div>
</div>
