.introduction {
  text-align: center;
  position: relative;
  top: 33vh;
  h1 {
    font-size: 48pt;
    margin-bottom: 2vh;
  }
  button {
    display: none;
  }
}

.loaded {
  text-align: center;
  position: relative;
  top: 4vh;
  img {
    height: 25px;
    width: 25px;
  }
  h1 {
    font-size: 16pt;
    margin-bottom: 0vh;
  }
  h4{
    font-size: 12pt;
  }
  h2 {
    text-align: center;
    font-weight: bold;

  }
}

.vd-2016 {
  margin: 0 auto;
  display: block;
  font-size: 14pt;
  margin-top: 12vh;
  width: 60vw;
  text-align: center;
}
.vd-2 {
  small {
    position: relative;
    bottom: 2vh;
  }
  ol {
    text-align: left;
    width: 48vw;
    margin: 0 auto;
    display: block;
  }
}

.vd-3 {
  ul {
    text-align: left;
    /* list-style: none; */
    width: 40vw;
    margin: 4vh auto;
    display: block;
  }
  li {
    margin: 2vh;
  }
}
