<md-card class="content">
  <md-card-content class="accountmain">
    <md-tabs  md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <!-- Event Information -->
      <md-tab id="tab1">
        <md-tab-label>Information</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div class="accountwrapper">
            <div class="col-md-3">
              <!-- <div class="accimg"> -->
              <img ng-if="organization.picture.picture.url !== null" ng-src="{{organization.picture.picture.url}}" class="accimg">
              <img ng-if="organization.fb_picture" ng-src="{{organization.fb_picture}}" class="accimg">
              <a href="javascript:;" ngf-select ng-model="file" ngf-multiple="false">Change Picture</a>
              <!-- </div> -->
            </div>
            <div class="col-md-9">
              <h2>{{organization.name}}</h2>
              <md-divider></md-divider>
              <h4 >Address:</h4>
              <div>
                <edit-address address_1="{{organization.address_1}}"
                              address_2="{{organization.address_2}}"
                              state="{{organization.state}}"
                              zip-code="{{organization.zip_code}}"
                              city="{{organization.city}}"
                              model-id="{{organization.id}}"
                              address-type="organization"
                  >
                </edit-address></div>
              <h4>Description:</h4>
              <edit-object-directive
                text_name="name"
                model-type="organization"
                attribute-name="description"
                model-id="{{organization.id}}"
                text="{{organization.description}}"
                size="paragraph_text"
                ></edit-object-directive>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Integrations</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div class="accountwrapper">
            <h2>MailChimp</h2>
            <p>Description: MailChimp is a service that can help you manage your email list. Connect to it will require you to enter user name and password.</p><br/>
            <md-button  class="md-primary md-raised" style="margin:0px;"
                        ng-click="authorize_mailchimp()"
                        ng-show="!mailchimp_authorized">Connect to MailChimp</md-button>
            <p ng-show="mailchimp_authorized">Your MailChimp Account Name: {{mailchimp.account_name}}</p>
            <md-list>
              <md-item ng-repeat="organization_mailing_service in organization.organization_mailing_services">
                <div ng-show="organization_mailing_service.service_type === 'mail_chimp'">
                  <!--<p ng-show="mailchimp_authorized && default_list_set"
                    >The default list users will be added to when they register:</p>-->
                  <edit-mailing-service-list
                    cabbage="organization_mailing_service"
                    ng-show="mailchimp_authorized">
                  </edit-mailing-service-list>
                  <a href="" ng-click="delete(organization_mailing_service)">Delete</a>
                </div>
              </md-item>
            </md-list>
            <md-divider></md-divider>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Resources</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div class="accountwrapper">
            <add-resource
              object="organization"
              type="organization"
              resources-list="organization.resources"
              ></add-resource>
            <resource
              resources-list="organization.resources"
              object="organization"
              >
            </resource>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>External Pages</md-tab-label>
        <md-tab-body>
          <div class="accountwrapper" id="external-pages-tab">
                <h4>Enter a one word name for your organization:</h4><br>
            <p>This will be used to create a public page for your organization that volunteers can use to find
            opportunities and register to volunteer in the future.</p>
                <edit-object-directive
                  text_name="name"
                  model-type="organization"
                  attribute-name="custom_url"
                  model-id="{{organization.id}}"
                  text="{{organization.custom_url}}"
                  placeholder="Enter the Custom URL for your Volu Resources"
                  size="paragraph_text"
                  ></edit-object-directive>
                <md-divider></md-divider>

                <h4>Enter a link to your website:</h4><br>
                <edit-object-directive
                  text_name="name"
                  model-type="organization"
                  placeholder="Enter the URL of Your Website"
                  attribute-name="website_url"
                  model-id="{{organization.id}}"
                  text="{{organization.website_url}}"
                  size="paragraph_text"
                  ></edit-object-directive>
                <md-divider></md-divider>

                <h4>Enter a link to your Facebook page:</h4><br>
                <edit-object-directive
                  text_name="name"
                  model-type="organization"
                  placeholder="Enter the URL of Your Facebook Page"
                  attribute-name="facebook_url"
                  model-id="{{organization.id}}"
                  text="{{organization.facebook_url}}"
                  size="paragraph_text"
                  ></edit-object-directive><md-divider></md-divider>
            <h4>Enter a link to your Twitter Profile:</h4><br>
            <edit-object-directive
              text_name="name"
              model-type="organization"
              placeholder="Enter the URL of Your Twitter Profile"
              attribute-name="twitter_url"
              model-id="{{organization.id}}"
              text="{{organization.twitter_url}}"
              size="paragraph_text"
              ></edit-object-directive><md-divider></md-divider>
            <h4>Enter a link to your Instagram Page:</h4><br>
            <edit-object-directive
              text_name="name"
              model-type="organization"
              placeholder="Enter the URL of Your Instagram Page"
              attribute-name="instagram_url"
              model-id="{{organization.id}}"
              text="{{organization.instagram_url}}"
              size="paragraph_text"
              ></edit-object-directive><md-divider></md-divider>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Settings</md-tab-label>
        <md-tab-body>
          <div class="accountwrapper" id="settings-tab">
            <h4>Upload Terms of Service:</h4>
            <md-button class="md-raised md-primary"type="file" ngf-select="uploadFiles($file)"
                       accept="application/pdf" ngf-max-height="1000" ngf-max-size="5MB">
              Select File</md-button>
            <br><br>
            <div style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
            </div>
            {{errorMsg}}


            <h4 style="color: red;margin-top:32px;">{{warning_message}}</h4>
            <md-divider style="margin: 12px 0 24px 0;"></md-divider>

            <h4>Delete Your Organization:</h4>
            <md-button class="md-raised md-warn"
                       ng-click="showConfirm($event)">DELETE YOUR ORGANIZATION</md-button>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
</md-card>



