
<md-card class="content" >
  <md-card-content>
    <md-tabs class="md-primary" md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">

      <!-- Event Information -->
      <md-tab id="tab1">
        <md-tab-label>Organization Information</md-tab-label>
        <md-tab-body>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Organization Integrations</md-tab-label>
        <md-tab-body>
          <md-list>
            <md-item ng-repeat="organization_mailing_service in organization.organization_mailing_services">
              <div ng-show="organization_mailing_service.service_type === 'mail_chimp'">
                <a href="#"
                   ng-click="authorize_mailchimp()"
                   ng-show="!mailchimp_authorized">Connect to MailChimp (requires you to enter user name and password)</a>
                <p ng-show="mailchimp_authorized">Your MailChimp Account Name: {{mailchimp.account_name}}</p>
                <!--<p ng-show="mailchimp_authorized && default_list_set"
                  >The default list users will be added to when they register:</p>-->
                <edit-mailing-service-list
                  cabbage="organization_mailing_service"
                  ng-show="mailchimp_authorized">
                </edit-mailing-service-list>
              </div>
            </md-item>
          </md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
</md-card>



