.accountmain{
    padding:0px 10px;
    min-height: 400px;
}

#settings-tab {
  h4 {
    display: inline-block;
  }
}

.accountmain h4{
    margin:10px 0px 1px 0px;
}

.accountwrapper{
padding:16px;
}

#external-pages-tab {
  h2{
    margin-bottom: 16px;
  }
}

.accimg{
    width:100%;
    height: 200px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}

.accountwrapper {
  h2 {
    text-align: left !important;
    color: rgba(0, 0, 0, 0.6) !important;
  }
}

.urledit p{font-weight:500 !important;float:left !important;font-size:17px;}
.urledit a{float:right !important;
    display:block !important;
    background-color: $primary;
    border-radius: 2px;
    padding:5px 10px;
    color:#fff !important;
    margin-bottom: 5px;

}
.urledit edit-object-directive{width:100% !important;}
.urledit md-input-container{padding-bottom: 5px;}
