
<md-card class="content" >
  <md-card-content class="accountmain">
    <md-tabs  md-dynamic-height md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
      <!-- Event Information -->
      <md-tab id="tab1">
        <md-tab-label>Organization Information</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div class="accountwrapper">
            <div class="col-md-3">
              <div class="accimg">
                <img src="">
              </div>
            </div>
            <div class="col-md-9">
              <h2>{{organization.name}}dsadas</h2>
              <md-divider></md-divider>
                <h4 >Address:</h4>
              <div>
                <edit-address address="{{organization.address}}"
                              state="{{organization.state}}"
                              zip-code="{{organization.zip_code}}"
                              city="{{organization.city}}"
                              model-id="{{organization.id}}"
                              address-type="organization"
                  >
                </edit-address></div>
                
              <h4>Description:</h4>
                <p>{{organization.description}}dadsa</p>
              
            </div></div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Organization Integrations</md-tab-label>
        <md-tab-body>
          <md-divider></md-divider>
          <div class="accountwrapper">
            <h2>MailChimp</h2>
            <p>Description: MailChimp is a service that can help you manage your email list. Connect to it will require you to enter user name and password.</p><br/>
            <md-button  class="md-raised md-primary" style="margin:0px;"href="#"
                        ng-click="authorize_mailchimp()"
                        ng-show="!mailchimp_authorized">Connect to MailChimp</md-button>
            <p ng-show="mailchimp_authorized">Your MailChimp Account Name: {{mailchimp.account_name}}</p>
            <md-list>
              <md-item ng-repeat="organization_mailing_service in organization.organization_mailing_services">
                <div ng-show="organization_mailing_service.service_type === 'mail_chimp'">
                  <!--<p ng-show="mailchimp_authorized && default_list_set"
                    >The default list users will be added to when they register:</p>-->
                  <edit-mailing-service-list
                    cabbage="organization_mailing_service"
                    ng-show="mailchimp_authorized">
                  </edit-mailing-service-list>
                  <a href="" ng-click="delete(organization_mailing_service)">Delete</a>
                </div>
              </md-item>
            </md-list>
            <md-divider></md-divider>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Organization Settings</md-tab-label>
        <md-tab-body>
            <md-list>
                <md-list-item class="urledit">
          <edit-object-directive
            text_name="name"
            model-type="organization"
            attribute-name="custom_url"
            model-id="{{organization.id}}"
            text="http://www.voluapp.com/{{organization.custom_url}}/registration - Send to potential volunteers so they can register"
            placeholder="Enter the Custom URL for your Volu Resources (i.e. - volu will give
                 you a volu/registration form for registering volunteers)"
            size="paragraph_text"
            ></edit-object-directive>
                  <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="urledit">
          <edit-object-directive
            text_name="name"
            model-type="organization"
            placeholder="Enter the URL of Your Website"
            attribute-name="website_url"
            model-id="{{organization.id}}"
            text="{{organization.website_url}}"
            size="paragraph_text"
            ></edit-object-directive>
            <md-divider></md-divider>
                </md-list-item>
          <md-list-item class="urledit">
          <edit-object-directive
            text_name="name"
            model-type="organization"
            placeholder="Enter the URL of Your Facebook Page"
            attribute-name="facebook_url"
            model-id="{{organization.id}}"
            text="{{organization.facebook_url}}"
            size="paragraph_text"
            ></edit-object-directive><md-divider></md-divider></md-list-item><md-list-item>
          
            </md-list>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-card-content>
</md-card>



