<md-menu md-position-mode="target-right target" md-offset="2 0">
  <md-button
    style="color: lawngreen;font-size: 18pt;"
    class="md-primary hourlistb ion-plus"
    href=""
    aria-label="Add Volunteer"
    ng-click="$mdOpenMenu()"
    md-menu-origin
    md-menu-align-target>
  </md-button>
  <md-menu-content id="add-person-opportunity">
    <strong ng-show="type === 'role'">Add to {{selectedObject.name}}</strong>
    <strong ng-show="type === 'instance'">Add to {{selectedObject.instance_date | date:'short'}}</strong>
    <div layout="row" layout-wrap>
      <!-- <find-person person="person" person-id="person.person_id"></find-person> -->
      <md-contact-chips
        md-contacts="asyncSearch($query)"
        md-require-match="true"
        md-contact-name="fullName"
        md-contact-email="email"
        placeholder="Jane Doe"
        secondary-placeholder="John Doe"
        filter-selected="true"
        ng-model="contacts"
      ></md-contact-chips>
      <md-input-container flex="100">
        <label>Choose Role</label>
        <md-select ng-model="person_opportunity.opportunity_role" aria-label="Choose Role" ng-show="type !== 'role'">
          <md-option ng-repeat="opportunity_role in opportunity.opportunity_roles" value="{{opportunity_role.id}}">
            {{opportunity_role.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <div flex="20">
      </div>
      <div flex="60"></div>
      <div flex="20">
      <md-button class="md-raised" style="float: right;">Add Volunteer</md-button>
      <md-button class="md-raised md-primary" style="float: right;"ng-click="addPersonOpportunity()">Add to {{type}}</md-button>
      </div>
    </div>
  </md-menu-content>
</md-menu>
