.action-text {
  display: inline-block;
}

.detail-title-text {
  display: inline-block;
  color:rgba(0,0,0,0.6);
  font-size:25px;
}

.detail-subtitle-text {
  display: inline-block;
}

.detail-paragraph-text {
  display: inline-block;
  color:rgba(0,0,0,0.5);
}
