#organization-people-search {
  margin-bottom: 5px;
  md-input-container {
    padding: 0px 16px;
  }
  md-list {
    background-color: white;
    position: absolute;
    width: 97%;
    top: 74px;
    text-align: left;
    z-index: 1000;
    height: 300px;
    overflow: auto;
  }
}
