#opportunity-role{
  h3 {
    margin: 0 0;
  }
  p {
    margin: 0 0 10px;
    display: inline-block;
    font-size: 10pt;
  }
  .volunteer-toggle-link {
    font-size: 8pt;
    display: block;
  }
  .mail-icon{
    font-size: 18pt;
    min-width: 26px;
  }
  .role-information {
    margin-top: 18px;
  }
}
