<p style="text-align:center;">Pick up weekdays and time slots when avaliable to be a volunteer.</p>
<div>
  <md-checkbox ng-model="Mon" aria-label="Mon" class="quat">
    Mon
  </md-checkbox>

  <div ng-show="Mon">
    <md-checkbox ng-model="schedule.morning.monday"
                 aria-label="M"
                 class="quat"
                value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.monday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.monday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Tue" aria-label="Tue" class="quat">
    Tue
  </md-checkbox>

  <div ng-show="Tue">
    <md-checkbox ng-model="schedule.morning.tuesday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.tuesday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.tuesday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Wed" aria-label="Wed" class="quat"value="false">
    Wed
  </md-checkbox>

  <div ng-show="Wed">
    <md-checkbox ng-model="schedule.morning.wednesday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.wednesday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.wednesday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Thu" aria-label="Thu" class="quat"value="false">
    Thu
  </md-checkbox>

  <div ng-show="Thu">
    <md-checkbox ng-model="schedule.morning.thursday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.thursday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.thursday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>


<div>
  <md-checkbox ng-model="Fri" aria-label="Fri" class="quat"value="false">
    Fri
  </md-checkbox>

  <div ng-show="Fri">
    <md-checkbox ng-model="schedule.morning.friday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.friday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.friday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Sat" aria-label="Sat" class="quat"value="false">
    Sat
  </md-checkbox>

  <div ng-show="Sat">
    <md-checkbox ng-model="schedule.morning.saturday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.saturday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.saturday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
  <md-divider></md-divider>
</div>

<div>
  <md-checkbox ng-model="Sun" aria-label="Sun" class="quat"value="false">
    Sun
  </md-checkbox>

  <div ng-show="Sun">
    <md-checkbox ng-model="schedule.morning.sunday" aria-label="M" class="quat"value="false">
      Morning
    </md-checkbox>
    <md-checkbox ng-model="schedule.afternoon.sunday" aria-label="A" class="quat"value="false">
      Afternoon
    </md-checkbox>
    <md-checkbox ng-model="schedule.night.sunday" aria-label="N" class="quat"value="false">
      Night
    </md-checkbox>
  </div>
  <div class="fixer"></div>
</div>
