<md-list-item class="md-3-line"
              ng-repeat="resource in resourcesList" layout="row" layout-wrap id="opportunity-role">
  <div flex="80">
    <h4
      >{{resource.name}}
      <p>{{resource.description}}</p>
    </h4>
    <p ng-show="opportunity_role.description">{{resource.description}}</p>
  </div>
  <div flex="20">
    <div class="hourlistr">
      <md-button
        class="md-warn hourlistb"
        href=""
        ng-click="deleteResource(resource)">
        Delete
      </md-button>
      <md-menu md-position-mode="target-right target" md-offset="2 0">
        <md-button
          class="md-primary hourlistb"
          href=""
          aria-label="Edit"
          ng-click="$mdOpenMenu()"
          md-menu-origin
          md-menu-align-target>
          Edit
        </md-button>
        <md-menu-content>
          <div layout="row" layout-wrap>
            <md-input-container flex="20">
              <label>File Name</label>
              <input ng-model="resource.name">
            </md-input-container>
            <md-input-container flex="50">
              <label>Description</label>
              <textarea ng-model="resource.description" md-maxlength="150" md-select-on-focus></textarea>
            </md-input-container>
            <md-input-container flex="25">
              <label>Resource Type</label>
              <md-select ng-model="resource.type_name" ng-init="resource.resource_type = 'For Volunteers'">
                <md-option ng-repeat="resource_type in resource_types" value="{{resource_type}}">
                  {{resource_type}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" flex="5" ng-click="updateResource(resource)">save</md-button>
            </div>
        </md-menu-content>
      </md-menu>

      <md-button
        class="md-primary hourlistb"
        href="{{resource.resource.url}}"
        target="_blank"
        >
        View
      </md-button>
    </div>
    <div ng-show="editing"
         class="editzone" layout="row">
      <md-input-container flex="15">
        <label>What's the name?</label>
        <input
          ng-model="resource.name">
        </input>
      </md-input-container>
      <md-input-container flex="50">
        <label>What's the description?</label>
                      <textarea
                        md-maxlength="250"
                        ng-model="resource.description">
                      </textarea>
      </md-input-container>
      <md-input-container flex="35">

      </md-input-container>
      <div flex="5">
        <md-button
          class="md-primary hourlistb"
          href=""
          ng-click="updateResource(resource); editing = false">
          Save
        </md-button>
      </div>
    </div>
  </div>
</md-list-item>
