<div layout="column">
  <div flex>

    <!-- SCREEN 1 -->
    <div ng-show="current_screen === 'beginning-information'">
      <h4>When does the new schedule start?</h4>
      <input ng-show="start_time"
             kendo-date-time-picker
             k-ng-model="calendar.start_time"
        />
      <div ng-show="end_time">
        <h4>Duration</h4>
        <h4>{{calendar.duration | duration:'h:mm'}} {{duration_label}}</h4>
        <md-slider flex min="900000"
                   step="900000"
                   max="43200000"
                   ng-model="calendar.duration"
                   aria-label="red"
                   id="red-slider" class>
        </md-slider>
      </div>
      <md-button
        ng-click="nextScreen('beginning-information', calendar.repeat.repeat_type)"
        class="md-raised md-primary">
        Is This A Recurring Schedule?
      </md-button>
    </div>

    <!-- SCREEN 2 - Day week month year chooser -->
    <div class="repeat_main_selection repetition_rule_select_box" ng-show="current_screen === 'repeat_type'">
      <h3>This Schedule Repeats Every:</h3>
      <md-radio-group ng-model="calendar.repeat.repeat_type" class="repeat-type-radio-group">
        <md-radio-button  class="cradio"
                          aria-label="Daily"
                          value="repeat_daily">
          Day
        </md-radio-button>
        <md-radio-button  class="cradio"
                          aria-label="Weekly"
                          value="repeat_weekly">
          Week
        </md-radio-button>
        <md-radio-button  class="cradio"
                          aria-label="Monthly"
                          value="repeat_monthly">
          Month
        </md-radio-button>
        <md-radio-button  class="cradio"
                          aria-label="Annually"
                          value="repeat_annually">
          Year
        </md-radio-button>
        <div class="fixer"></div>
      </md-radio-group>
      <div class="schedule-button-bar">
        <md-button
          ng-click="previousScreen('repeat_type')"
          class="md-raised md-primary">
          Back
        </md-button>
        <md-button
          ng-click="nextScreen('repeat_type', calendar.repeat.repeat_type)"
          class="md-raised md-primary">
          Next
        </md-button>
      </div>
    </div>
    <!-- SCREEN 3 -->
    <div ng-show="current_screen === 'repeat_frequency'"
         class="schdaily">
      <h4>Repeat every</h4>
      <md-input-container>
        <input type="text" ng-model="calendar.repeat.repeat_count">
        <label ng-show="calendar.repeat.repeat_type === 'repeat_daily'">Days</label>
        <label ng-show="calendar.repeat.repeat_type === 'repeat_weekly'">Weeks</label>
        <label ng-show="calendar.repeat.repeat_type === 'repeat_monthly'">Months</label>
        <label ng-show="calendar.repeat.repeat_type === 'repeat_annually'">Years</label>
      </md-input-container>
      <div class="schedule-button-bar">
        <md-button
          ng-click="previousScreen('repeat_frequency')"
          class="md-raised md-primary">
          Back
        </md-button>
        <md-button
          ng-show="calendar.repeat.repeat_type === 'repeat_daily'"
          ng-click="nextScreen('repeat_daily', calendar.repeat.repeat_count)"
          class="md-raised md-primary">
          Next
        </md-button>
        <md-button
          ng-click="nextScreen('repeat_frequency', calendar.repeat.repeat_count)"
          ng-show="calendar.repeat.repeat_type !== 'repeat_daily'"
          class="md-raised md-primary">
          Next
        </md-button>
      </div>
    </div>

    <!-- SCREEN 3 - Weekly -->
    <div class="schweekly" ng-show="current_screen === 'repeat_weekly'">
      <h4>Repeat On</h4>
      <div>
        <md-checkbox ng-model="calendar.repeat.monday_repeat" aria-label="Monday" class="ccheck">
          Mon
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.tuesday_repeat" aria-label="Tuesday" class="ccheck">
          Tue
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.wednesday_repeat" aria-label="Wednesday" class="ccheck">
          Wed
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.thursday_repeat" aria-label="Thursday" class="ccheck">
          Thu
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.friday_repeat" aria-label="Friday" class="ccheck">
          Fri
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.saturday_repeat" aria-label="Saturday" class="ccheck">
          Sat
        </md-checkbox>
        <md-checkbox ng-model="calendar.repeat.sunday_repeat" aria-label="Saturday" class="ccheck">
          Sun
        </md-checkbox>
        <div class="fixer"></div>
      </div>
    </div>

    <!-- SCREEN 3 - Monthly -->
    <div class="schmonthly"
         ng-show="current_screen === 'repeat_monthly'">
      <!-- Is the monthly even on a day of the month, or a specific week of the month? -->
      <md-radio-group ng-model="calendar.repeat.monthly_repeat.type" style="display:block;">
        <md-radio-button  class="cradio"
                          aria-label="On Day of the Month?"
                          value="day_of_month">
          On Day of the Month?
        </md-radio-button>
        <md-radio-button  class="cradio"
                          aria-label="On Day of a Specific Week?"
                          value="day_of_week">
          On Day Of The Week?
        </md-radio-button>
        <div class="fixer"></div>
      </md-radio-group>

      <!-- SCREEN 3 - Monthly On A Specific Day -->
      <div ng-show="calendar.repeating_event &&
    (calendar.repeat.repeat_type === 'repeat_monthly') &&
         (calendar.repeat.monthly_repeat.type === 'day_of_month')">
        <md-input-container>
          <label>Which Day of the Month?</label>
          <input type="text" ng-model="calendar.repeat.monthly_repeat.day_of_month">
        </md-input-container>
        {{calendar.repeat.monthly_repeat.day_of_month}}
      </div>

      <!-- SCREEN 3 - Monthly On Days of the Week -->
      <div ng-show="calendar.repeating_event &&
    (calendar.repeat.repeat_type === 'repeat_monthly') &&
         (calendar.repeat.monthly_repeat.type === 'day_of_week')">
        <strong>First Week of the Month:</strong><br>
        <div>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.monday_repeat.first_week" aria-label="Monday" class="monthly ccheck">
            Mon
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.tuesday_repeat.first_week" aria-label="Tuesday" class=" monthly ccheck">
            Tue
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.wednesday_repeat.first_week" aria-label="Wednesday" class="monthly ccheck">
            Wed
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.thursday_repeat.first_week" aria-label="Thursday" class="monthly ccheck">
            Thu
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.friday_repeat.first_week" aria-label="Friday" class="monthly ccheck">
            Fri
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.saturday_repeat.first_week" aria-label="Saturday" class="monthly ccheck">
            Sat
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.sunday_repeat.first_week" aria-label="Saturday" class="monthly ccheck">
            Sun
          </md-checkbox>
          <div class="fixer"></div>
        </div>
        <strong>Second Week of the Month:</strong><br>
        <div>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.monday_repeat.second_week" aria-label="Monday" class="monthly ccheck">
            Mon
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.tuesday_repeat.second_week" aria-label="Tuesday" class=" monthly ccheck">
            Tue
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.wednesday_repeat.second_week" aria-label="Wednesday" class="monthly ccheck">
            Wed
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.thursday_repeat.second_week" aria-label="Thursday" class="monthly ccheck">
            Thu
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.friday_repeat.second_week" aria-label="Friday" class="monthly ccheck">
            Fri
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.saturday_repeat.second_week" aria-label="Saturday" class="monthly ccheck">
            Sat
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.sunday_repeat.second_week" aria-label="Saturday" class="monthly ccheck">
            Sun
          </md-checkbox>
          <div class="fixer"></div>
        </div>
        <strong>Third Week of the Month:</strong><br>
        <div>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.monday_repeat.third_week" aria-label="Monday" class="monthly ccheck">
            Mon
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.tuesday_repeat.third_week" aria-label="Tuesday" class=" monthly ccheck">
            Tue
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.wednesday_repeat.third_week" aria-label="Wednesday" class="monthly ccheck">
            Wed
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.thursday_repeat.third_week" aria-label="Thursday" class="monthly ccheck">
            Thu
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.friday_repeat.third_week" aria-label="Friday" class="monthly ccheck">
            Fri
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.saturday_repeat.third_week" aria-label="Saturday" class="monthly ccheck">
            Sat
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.sunday_repeat.third_week" aria-label="Saturday" class="monthly ccheck">
            Sun
          </md-checkbox>
          <div class="fixer"></div>
        </div>
        <strong>Fourth Week of the Month:</strong><br>
        <div>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.monday_repeat.fourth_week" aria-label="Monday" class="monthly ccheck">
            Mon
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.tuesday_repeat.fourth_week" aria-label="Tuesday" class=" monthly ccheck">
            Tue
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.wednesday_repeat.fourth_week" aria-label="Wednesday" class="monthly ccheck">
            Wed
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.thursday_repeat.fourth_week" aria-label="Thursday" class="monthly ccheck">
            Thu
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.friday_repeat.fourth_week" aria-label="Friday" class="monthly ccheck">
            Fri
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.saturday_repeat.fourth_week" aria-label="Saturday" class="monthly ccheck">
            Sat
          </md-checkbox>
          <md-checkbox ng-model="calendar.repeat.monthly_repeat.sunday_repeat.fourth_week" aria-label="Saturday" class="monthly ccheck">
            Sun
          </md-checkbox>
          <div class="fixer"></div>
        </div>
      </div>
    </div>
    <div ng-show="
    current_screen === 'repeat_daily' ||
    current_screen === 'repeat_weekly' ||
    current_screen === 'repeat_monthly' ||
    current_screen === 'repeat_annually' ">
      <md-button
        ng-click="previousScreen(current_screen)"
        class="md-raised md-primary">
        Back
      </md-button>
      <md-button
        ng-click="nextScreen(current_screen, 'opportunity_end')"
        class="md-raised md-primary">
        Next
      </md-button>
    </div>

    <!-- SCREEN 4 - Opportunity End -->
    <div class="schdefault" ng-show="current_screen === 'opportunity_end'">
      <div>
        <h4>Set Opportunity End:</h4>
        <md-radio-group ng-model="calendar.ends"style="display:block;">
          <md-radio-button class="cradio"
                           aria-label="occurrences"
                           value="after">
            After certain occurrences?
          </md-radio-button>
          <md-radio-button class="cradio"
                           aria-label="On a specific date"
                           value="on">
            On a specific date?
          </md-radio-button>
          <div class="fixer"></div>
        </md-radio-group>
      </div>
      <md-input-container ng-show="calendar.ends === 'after'">
        <label>How many times should the opportunity repeat?</label>
        <input type="text" >
      </md-input-container>
      <md-input-container ng-show="calendar.ends === 'on'">
        <label>What date should the opportunity end?</label>
        <input type="date" ng-model="calendar.repeat.repeat_until">
      </md-input-container>
      <div class="schedule-button-bar">
        <md-button
          ng-click="previousScreen('opportunity_end')"
          class="md-raised md-primary">
          Back
        </md-button>
      </div>
    </div>
  </div>
</div>
</div>
<div flex class="schedule-string-box">
  <small>Current Schedule</small>
  <h4 style="text-align: center;">
    {{schedule_string}}
  </h4>
</div>
</div>

