<h2>{{startDateText}}</h2>
<time-date-picker ng-model="calendar.start_time"></time-date-picker>



<h2>Duration</h2>
<h3>{{calendar.duration | duration:'h:mm'}} {{duration_label}}</h3>
<md-slider flex min="900000"
           step="900000"
           max="43200000"
           ng-model="calendar.duration"
           aria-label="red"
           id="red-slider" class>
</md-slider>

<!-- Does the Event Repeat? -->
<md-checkbox ng-model="calendar.repeating_event" aria-label="Repeating event?">
  {{recurringLabelText}}
</md-checkbox>

<!-- How Frequently Does the Event Repeat? -->
<div class="repeat_main_selection repetition_rule_select_box" ng-show="calendar.repeating_event">
  <md-checkbox ng-model="calendar.repeat.repeat_daily"
               aria-label="Daily">
    Daily?
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.repeat_weekly"
               aria-label="Weekly">
    Weekly?
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.repeat_monthly"
               aria-label="Monthly">
    Monthly?
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.repeat_annually"
               aria-label="Annually">
    Annually?
  </md-checkbox>
</div>

<!-- Every X Days, Months, Years -->
<div ng-show="calendar.repeating_event">
  Repeat every
  <input type="number" ng-model="calendar.repeat.repeat_count">
  Units
</div>
<div ng-show="calendar.repeating_event">
  Repeat until what date?
  <input type="datetime" ng-model="calendar.repeat.repeat_until">
</div>
<div ng-show="calendar.repeating_event">
  Repeat how many times?
  <input type="datetime" ng-model="calendar.repeat.number_of_repeats">
</div>

<div ng-show="calendar.repeat.repeat_weekly">
  <h2>Repeat On Which Days:</h2>
  <md-checkbox ng-model="calendar.repeat.monday_repeat" aria-label="Monday">
    Monday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.tuesday_repeat" aria-label="Tuesday">
    Tuesday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.wednesday_repeat" aria-label="Wednesday">
    Wednesday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.thursday_repeat" aria-label="Thursday">
    Thursday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.friday_repeat" aria-label="Friday">
    Friday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.saturday_repeat" aria-label="Saturday">
    Saturday
  </md-checkbox>
  <md-checkbox ng-model="calendar.repeat.sunday_repeat" aria-label="Saturday">
    Sunday
  </md-checkbox>
</div>
