
<md-card class="content" >
  <md-card-content>
    <div ng-if="!loaded">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="loaded">
      <md-data-table-toolbar>
        <h2 class="md-title">Volunteers</h2>
      </md-data-table-toolbar>
      <md-data-table-container>
        <table md-data-table md-progress="deferred">
          <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th name="First Name" order-by="first_name"></th>
            <th name="Last Name" order-by="last_name"></th>
            <th name="City" order-by="city"></th>
            <th name="State" order-by="state"></th>
            <th numeric name="Total Volunteer Hours" order-by="total_volunteer_hours"></th>
          </tr>
          </thead>
          <tbody>
          <tr md-auto-select ng-repeat="person in people">
            <td person-modal id="{{person.id}}" size="lg"><a href="">{{person.first_name}}</a></td>
            <td person-modal id="{{person.id}}" size="lg"><a href="">{{person.last_name}}</a></td>
            <td>{{person.city}}</td>
            <td>{{person.state}}</td>
            <td>{{person.total_recorded_hours}}</td>
          </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <md-data-table-pagination
        md-limit="query.limit"
        md-page="query.page"
        md-total="{{total_people_count}}"
        md-trigger="onPaginationChange">
      </md-data-table-pagination>
    </div>
  </md-card-content>
</md-card>

