<div ng-show="!submitted">
  <label>What's your gender?</label>
  <md-radio-group ng-model="demographic.gender">
    <md-radio-button value="male">Male</md-radio-button>
    <md-radio-button value="female">Female</md-radio-button>
  </md-radio-group>
  <label>When's your birthday?</label>
  <md-datepicker ng-model="demographic.date_of_birth" md-placeholder="Date of Birth"></md-datepicker><br>
  <label>What's Your Occupation?</label>
  <md-input-container>
    <md-select ng-model="demographic.occupation">
      <md-option ng-repeat="occupation in occupations" value="{{occupation}}">
        {{occupation}}
      </md-option>
    </md-select>
  </md-input-container><br>
  <label>How Did You Hear About {{organization.name}}?</label>
  <md-input-container>
    <md-select ng-model="demographic.referred_from">
      <md-option ng-repeat="referrer in referrers" value="{{referrer}}">
        {{referrer}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-button class="md-raised md-primary formbutton"
             aria-label="Use Android"
             ng-click="demographicData(demographic)">
    Submit Form!
  </md-button>

  <md-button class="md-raised md-primary formbutton" aria-label="Use Android"  ui-sref="organization_volunteer_registration.3">
    Previous Step: Enter Additional Information
  </md-button>
</div>
<div ng-show="submitted">
  <h1>Thanks for registering to volunteer! We're taking you somewhere you can find more great opportunities!</h1>
</div>
