<p style="text-align:center;">Pick up weekdays and time slots when you are avaliable to be a volunteer. Pick as much as you want.</p>
<div>
<md-checkbox ng-model="Mon" aria-label="Mon" class="col-md-5">
    Mon
</md-checkbox>

<div ng-show="Mon">
<md-checkbox ng-model="M1" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A1" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N1" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>

<div>
<md-checkbox ng-model="Tue" aria-label="Tue" class="col-md-5">
    Tue
</md-checkbox>

<div ng-show="Tue">
<md-checkbox ng-model="M2" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A2" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N2" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>

<div>
<md-checkbox ng-model="Wed" aria-label="Wed" class="col-md-5">
    Wed
</md-checkbox>

<div ng-show="Wed">
<md-checkbox ng-model="M3" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A3" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N3" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>

<div>    
<md-checkbox ng-model="Thu" aria-label="Thu" class="col-md-5">
    Thu
</md-checkbox>

<div ng-show="Thu">
<md-checkbox ng-model="M4" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A4" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N4" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>


<div>
<md-checkbox ng-model="Fri" aria-label="Fri" class="col-md-5">
    Fri
</md-checkbox>

<div ng-show="Fri">
<md-checkbox ng-model="M5" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A5" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N5" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>

<div>
<md-checkbox ng-model="Sat" aria-label="Sat" class="col-md-5">
    Sat
</md-checkbox>

<div ng-show="Sat">
<md-checkbox ng-model="M6" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A6" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N6" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
    <md-divider></md-divider>
</div>

<div>
<md-checkbox ng-model="Sun" aria-label="Sun" class="col-md-5">
    Sun
</md-checkbox>

<div ng-show="Sun">
<md-checkbox ng-model="M7" aria-label="M" class="col-md-2">
    Morning
</md-checkbox>
<md-checkbox ng-model="A7" aria-label="A" class="col-md-2">
    Afternoon
</md-checkbox>
<md-checkbox ng-model="N7" aria-label="N" class="col-md-2">
    Night
</md-checkbox>
    </div>
<div class="fixer"></div>
</div>


<br/>
 <md-button class="md-raised md-primary formbutton" aria-label="Use Android"   ui-sref="organization_volunteer_registration.3">
          Submit
        </md-button>

 <md-button class="md-raised md-primary formbutton" aria-label="Use Android"  ui-sref="organization_volunteer_registration.2">
          Previous Step: Address
        </md-button>

