.user-centered-container {
  width: 100vw;
  height: 100vh;
  padding: 16vh 12vw;
  /* position: fixed; */
  top: 0px;
  overflow: scroll;
  z-index: -10;
  background-color: #35c0ff;
  h1 {
    margin: 2vh 0;
  }
  .content {
    width: 1000px;
    position: relative;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
  }
}

