<!--<nav
     mfb-menu position="br" effect="zoomin"
     label="Add To Your Organization"
     active-icon="ion-edit"
     label="Add Opportunity"
     resting-icon="ion-plus-round"
     toggling-method="hover"
     style="color: white;font-size: 24px;"
  >
  <a mfb-button icon="ion-clock"
     "
     label="Record Hours"></a>
  <a mfb-button icon="ion-flag"
     "
     label="Add Opportunity"></a>
  <a mfb-button icon="ion-person-add"
     ng-click="addOrganizationPerson('lg');"
     label="Add Person"></a>
</nav>--> <md-fab-speed-dial md-open="false" md-direction="up" ng-class="md-fling" class="md-fab-bottom-right" style="font-size: 32pt"> <md-fab-trigger> <md-button aria-label="menu" class="md-fab md-accent ion-plus-round"> </md-button> </md-fab-trigger> <md-fab-actions> <md-button aria-label="Record Hours" class="md-fab md-raised md-mini ion-clock" ng-click="recordHours('lg')"> <md-tooltip md-direction="left" md-visible="false">Record Hours</md-tooltip> </md-button> <md-button aria-label="Add Opportunity" class="md-fab md-raised md-mini ion-flag" ng-click="addVolunteerOpportunity('lg');"> <md-tooltip md-direction="left" md-visible="false">Add Opportunity</md-tooltip> </md-button> <md-button aria-label="Add Person" ng-click="addOrganizationPerson('lg');" class="md-fab md-raised md-mini ion-person-add"> <md-tooltip md-direction="left" md-visible="false">Add Person</md-tooltip> </md-button> </md-fab-actions> </md-fab-speed-dial>