<section style="height: {{window_height + 50}}px; width: {{window_width}}px;"
         id="landing-page-about">
  <div class="row hidden-xs">
    <img ng-src="../images/about_page_1.gif"
         style="height: {{window_height * .72}}px; width: {{window_width}}px;"
         class="center-block">
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12">
      <h1>Volu Is For Your Community</h1>
      <p class="lead text-center">
        Volu is an application intended to help non-profit organizations reach their volunteers
        and future leaders.  Non-profit organizations can manage their events and social engagement through facebook,
        and individuals can see what volunteer events and opportunities are available to them.
      </p>
    </div>
  </div>
</section>


<!-- Organization Section -->
<section style="height: {{window_height}}px; width: {{window_width}}px;"
         id="landing-page-organizations">




  <div class="row" ng-switch on="organizationslide">
    <div class="col-md-3" style="height: {{window_height * .55}}px;">
      <ul class="landing-page-organization-slide-menu">
        <li><a href=""
               ng-click="organization_slide('organization-1')"
               class="landing-page-organization-slide-menu-link"
               ng-class="org1">
          Manage Your Current Volunteers</a></li>
        <li><a href=""
               ng-click="organization_slide('organization-2');"
               class="landing-page-organization-slide-menu-link"
               ng-class="org2"
          >Identify Your Future Volunteers</a></li>
        <li><a href=""
               ng-click="organization_slide('organization-3');"
               class="landing-page-organization-slide-menu-link"
               ng-class="org3"
          >Manage All Your Social Platforms</a></li>
      </ul>
    </div>

    <!-- Organization section 1 -->
    <div class="col-md-8 landing-page-section-2-container" ng-switch-when="organization-1">
      <img src="../images/lp_organization_1.png"
           style="height: {{window_height * .45}}px;"
           class="landing-page-section-2-image hidden-xs">
      <img src="../images/lp_organization_1.png"
           class="landing-page-section-2-image visible-xs">
      <p class="lead text-center intro">
        <!-- VOLU is a non-profit, open source, mobile and desktop platform that enables
        non-profit organizations to easily reach volunteers and plan smarter events.  Getting started
        is easy, and due to its open source nature, the possibilities of VOLU are endless. -->
        With Volu, managing the people who support your organization is easy.
        Importing their information from an existing database, or through Facebook, are just a
        couple of options your organization has available.
      </p>
    </div>

    <!-- Organization Section 2 -->
    <div class="col-md-7 landing-page-section-2-container" ng-switch-when="organization-2">
      <img src="../images/lp_organization_2.png"
           style="height: {{window_height * .45}}px;"
           class="landing-page-section-2-image hidden-xs">
      <img src="../images/lp_organization_2.png"
           class="landing-page-section-2-image visible-xs">
      <p class="lead text-center intro">
        <!-- VOLU is a non-profit, open source, mobile and desktop platform that enables
        non-profit organizations to easily reach volunteers and plan smarter events.  Getting started
        is easy, and due to its open source nature, the possibilities of VOLU are endless. -->
        Through advanced analytics, Volu identifies which volunteers have provided the most value
        to your organization, and finds similar individuals to help support your mission.
      </p>
    </div>

    <!-- Organization Section 3 -->
    <div class="col-md-7 landing-page-section-2-container" ng-switch-when="organization-3">
      <img src="../images/lp_organization_3.png"
           style="height: {{window_height * .45}}px;"
           class="landing-page-section-2-image hidden-xs">
      <img src="../images/lp_organization_3.png"
           class="landing-page-section-2-image visible-xs">
      <p class="lead text-center intro">
        <!-- VOLU is a non-profit, open source, mobile and desktop platform that enables
        non-profit organizations to easily reach volunteers and plan smarter events.  Getting started
        is easy, and due to its open source nature, the possibilities of VOLU are endless. -->
        Volu gives you access to all your likes, retweets, mentions, and any other social network information that
        you might find useful down the road.
      </p>
    </div>

    <div class="col-md-1"></div>
  </div>

</section>
<section style="height: {{window_height}}px; width: {{window_width}}px;"
         id="landing-page-volunteers">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <img src="../images/lp_volunteer.png"
           style="height: {{window_height * .55}}px;"
           id="landing-page-volunteer-image"
           class="center-block">
      <p class="lead text-center intro">
        <!-- VOLU is a non-profit, open source, mobile and desktop platform that enables
        non-profit organizations to easily reach volunteers and plan smarter events.  Getting started
        is easy, and due to its open source nature, the possibilities of VOLU are endless. -->
        Find nearby volunteering opportunities that match your interests, set goals,
        and organize your team to compete for bragging rights.
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
<section style="height: {{window_height * .71}}px; width: {{window_width}}px;"
         id="landing-page-contact">
  <div class="row" id="landing-page-contact-container">
    <div class="panel col-xs-6 col-md-3 col-md-offset-1" id="contact-section-menu-container">
      <div class="panel-body" id="contact-menu-container">
        <p id="contact-form-text">Volu</p>
        <ul id="contact-bottom-menu">
          <li><a href='' ng-click="contact_slide('contact-1')">Contact</a></li>
          <li><a href='' ng-click="contact_slide('contact-2')">Location</a></li>
          <li><a href='' ng-click="open_lp_modal('lg')">Privacy/Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <div class="panel col-xs-6 col-md-6 col-md-offset-1"
         id="contact-section-content-container"
         ng-switch on="contactslide">

      <div class="contact-section-panel panel-body" ng-switch-when="contact-1">
        <form id="contact-form" ng-submit="newContact()">
          <md-text-float label="Your E-Mail Address"
                         ng-model="newContact.contact_email"
                         class="contact-form-input"> </md-text-float>
          <textarea ng-model="newContact.contact_content"
                    cols="100"
                    rows="7"
                    placeholder="What are you writing about?">

          </textarea>
          <button class="btn btn-lg btn-default">Contact Us</button>
        </form>
      </div>

      <div class="contact-section-panel panel-body" ng-switch-when="contact-2">
        <style>

        </style>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d728.9657602851256!2d-76.15031770850247!3d43.04431306143076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f3be6453d757%3A0x9f0432679ea7bccd!2s235+Harrison+St%2C+Syracuse%2C+NY+13202!5e0!3m2!1sen!2sus!4v1419867113687" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</section>
