    <div class="row">
        <div class="col-xs-12">
            <ul     class="list-group"
                    ng-repeat="organization in organizations">
                <li class="list-group-item">

                    <!-- If the organization has not been added to voluntr, show option
                        to add to VOLUNTR database -->
                    <button ng-if="organization.exists === false"
                            class="btn btn-default pull-right"
                            ng-click="addOrganization(organization)">
                        Add Organization
                    </button>

                    <!-- Link to the organizations Voluntr Page -->
                    <a class="pull-right" ui-sref='organization_home({organization_Id:organization.v_id})'
                            >Link to {{organization.name}} Home Page</a>

                    <!-- Organization Name -->
                    <p class="lead text-left">{{organization.name}}</p>

                    <!-- If the organization has not been added to voluntr, show text -->
                    <p class="small text-danger text-right"
                       ng-if="organization.exists === false">
                        Organization has not been added to voluntr
                    </p>

                </li>
            </ul>
        </div>
    </div>
