<div class="col-xs-3">

    <!-- Top panel with organization name -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>{{organization.name}}</h1>
            <a ng-if="organization.link"
               href='{{organization.link}}'>
                Your Facebook Page</a><br>
            <a ui-sref='landing_page.initial_page'>Back to Landing Page</a>
        </div>
    </div>




    <div class="panel panel-default">

        <!-- Panel Body containing events side bar -->
        <div class="panel-body">

            <!-- Events that have been added to the DB-->
            <h5>Events on VOLU:</h5>
            <div ng-repeat="event in events" style="margin-top: 2.5%;">
                <div ng-if="event.exists">
                    <p >
                        {{event.name}}
                    </p>
                </div>
            </div>

            <!-- Events that have yet to be added to DB -->
            <h5 style="margin-top: 60%;">Add these events from Facebook:</h5>
            <div ng-repeat="event in events">
                <div ng-if="!event.exists">
                    <a      class="small"
                            href=''
                            ng-click="addEvent(event)">
                        Add {{event.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Column with Google Map -->
<div class="col-xs-8" >
    <map    id="googlemap"
            ng-if="organization.location"
            map-type-id="SATELLITE"
            center="{{organization.location.latitude}}, {{organization.location.longitude}}"
            zoom="12"
            style="height: 575px"
            >
        <marker
                position="{{organization.location.latitude}}, {{organization.location.longitude}}"
                title="{{organization.name}}"
                animation="Animation.DROP"
                icon="../images/home.png"></marker>
        <div ng-repeat="event in events">
            <marker
                    position="{{event.venue.latitude}},{{event.venue.longitude}}"
                    title="{{event.name}}"
                    animation="Animation.DROP"
                    icon="../images/spaceport.png"></marker>
        </div>
    </map>
    <div ng-if="organization && !organization.location">
        <h3>We don't have your location on Facebook, please enter it and then refresh this page.</h3>
    </div>
</div>