<h1>Add Event</h1>
<div id="add-event-forms">
  <!-- Tabs For Ng-Switch -->
  <md-tabs class="md-accent" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      On Volu
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      From Facebook
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
      From Meet Up
    </md-tab>
  </md-tabs>

  <!-- Add Event Through Volu -->
  <ng-switch on="data.selectedIndex" class="tabpanel-container">
    <div role="tabpanel"
         id="tab1-content"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()">
      <form ng-submit="addEvent(event)">


        <!-- Event Name -->
        <md-input-container flex>
          <label>Event Name</label>
          <input ng-model="addEvent.event_name">
        </md-input-container>

        <!-- Event Description -->
        <md-input-container flex>
          <label>Event Description</label>
          <textarea ng-model="addEvent.description" columns="1" md-maxlength="250"></textarea>
        </md-input-container>

        <!-- Event Address -->
        <md-input-container flex>
          <label>Address</label>
          <input ng-model="addEvent.address">
        </md-input-container>

        <!-- Event Location Information -->
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>City</label>
            <input ng-model="addEvent.city">
          </md-input-container>
          <md-input-container flex>
            <label>State</label>
            <input ng-model="addEvent.state">
          </md-input-container>
          <md-input-container flex>
            <label>Zip Code</label>
            <input ng-model="addEvent.zip_code">
          </md-input-container>
        </div>


        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h4>Start Date</h4>
            <input kendo-date-time-picker
                   ng-model="addEvent.start_time"
                    /><br>
            </div>
          <div class="col-md-5 col-md-offset-1">
            <h4>End Date</h4>
            <input kendo-date-time-picker
                   ng-model="addEvent.end_time"
                    />
          </div>
        </div>

        <md-button class="md-raised md-primary" type="submit">Add Event</md-button>
      </form>
    </div>
    <div role="tabpanel"
         id="tab2-content"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()">
      Add Event On Facebook
    </div>
    <div role="tabpanel"
         id="tab3-content"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()">
      Add Event On Meet Up
    </div>
  </ng-switch>
</div>
