<!-- Styles located in /styles/profile.scss -->
<!-- <h1>This is your Profile Page </h1> -->
<!-- Opens a modal so you can record hours, located in /views/record_hours.html -->
<!-- <a ui-sref='volunteer_home'>Back to Home Page</a><br>
<a ng-click="open('lg')">
    Record Hours</a> -->


<div class="col-1 col-xs-3">
	<img src="images/victoria.jpg" class="user-image" />
	<p class="name">Victoria Smith</p>
	<div class="user-info">
		<span class="dob">DOB: 4.26.89</span><span class="zip">ZIP: 13205</span>
	</div>

	<div class="user-events">
		<h2>Upcoming Events:</h2>
		<ul class="upcoming">
			<li>Domestic Violence Walk</li>
			<li>Habitat for Humanity</li>
		</ul>

		<h2>Past Events:</h2>
		<ul class="past">
			<li>Food Bank Server</li>
			<li>Habitat for Humanity</li>
			<li>SPCA</li>
			<li>Planting Trees</li>
		</ul>
	</div>
</div>
<div class="col-2 col-xs-9">
	<div class="goals">
		<h3 class="goals-heading">My Goals:</h3>
		<div class="col-xs-3">
			<div class="hours-per-month">
				<span class="hours">24</span>
				<p>hours per month</p>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="hours-per-year">
				<span class="hours">288</span>
				<p>hours per year</p>
			</div>
		</div>
		<div class="col-xs-3">
			<a href="#" class="white-btn change-goals">Change Goals</a>
		</div>
		<div class="clear"></div>
	</div>

	<div class="hours-tracked">
		<h3 class="goals-heading">My Logged Hours:</h3>
		<div class="col-xs-6">
			<h1>{{profile.total_hours}}</h1>
		</div>
		<div class="col-xs-6">
			<div class="util-btns">
				<div class="log-hours">
					<a class="white-btn pointer" ng-click="open('lg')" >Log My Hours</a>
				</div>
				<div class="report">
					<a href="#" class="white-btn">See My Progress Report</a>
				</div>
			</div>
		</div>
		<div class="clear"></div>



	</div>
</div>









