<div class="content volunteer-content">
  <md-card>
    <md-card-content>
      <div>
        <img src="images/v_small.png" alt="">
        <h2>Reset Password</h2>
      </div>
      <div ng-show="!passwordReset">
        <h4>Please Enter A New Password</h4>
        <form name="resetPasswordForm" novalidate>
          <md-input-container>
            <label>Password</label>
            <input name="password" type="password" ng-model="password" required>
          </md-input-container>
          <md-input-container>
            <label>Confirm Password</label>
            <input name="confirmPassword" type="password" ng-model="confirmPassword" compare-to="password" required>
            <div ng-messages="resetPasswordForm.confirmPassword.$error" ng-show="resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.confirmPassword.$dirty">
              <div ng-message="compareTo">Passwords do not match!</div>
            </div>
          </md-input-container>
          <md-button
            class="md-raised md-primary"
            ng-click="resetPassword()"
            ng-disabled="resetPasswordForm.$invalid">Reset Password and Go To Account</md-button>
        </form>
      </div>
      <div ng-show="passwordReset" id="report-sent">
        <h3>Your password has been successfully reset!</h3>
        <p>You can now login to Volu using your newly changed password. Please click the link below to return to our home page and login.</p>
        <a href="" ui-sref="landing_page">Return To Home Page</a>
      </div>
    </md-card-content>
  </md-card>
</div>
