<div class="content volunteer-content">
  <md-card>
    <md-card-content>
      <div ng-show="!report_sent">
        <img src="images/v_small.png" alt="">
        <h2>Reset Password</h2>
        <h4>Please enter the e-mail address you used to sign up for a Volu account. We will send you an e-mail to this address with a link to reset your password.</h4>
        <form name="resetPasswordForm" novalidate>
          <md-input-container>
            <label>Email Address</label>
            <input name="email" type="email" ng-model="email_address" required>
            <div ng-messages="resetPasswordForm.email.$error" ng-show="resetPasswordForm.email.$invalid && resetPasswordForm.email.$touched">
              <div ng-message="email">This is not a valid e-mail address!</div>
            </div>
          </md-input-container>
          <md-button
            class="md-raised md-primary"
            ng-click="sendReport()"
            ng-disabled="resetPasswordForm.$invalid">Reset Password</md-button>
        </form>
      </div>
      <div ng-show="report_sent" id="report-sent">
        <h1>Your Report Has Been Sent!</h1>
        <a ui-sref="landing_page">Back to Home Page</a>
      </div>
    </md-card-content>
  </md-card>
</div>
