<div class="content volunteer-content">
  <md-card>
    <md-card-content>
      <div>
        <img src="images/v_small.png" alt="">
        <h2>Reset Password</h2>
      </div>
      <div ng-show="!requestSent">
        <h4>Please enter the e-mail address you used to sign up for a Volu account. We will send you an e-mail to this address with a link to reset your password.</h4>
        <form name="resetPasswordForm" novalidate>
          <md-input-container>
            <label>Email Address</label>
            <input name="email" type="email" ng-model="formData.email" required>
            <div ng-messages="resetPasswordForm.email.$error" ng-show="resetPasswordForm.email.$invalid && resetPasswordForm.email.$touched">
              <div ng-message="email">This is not a valid e-mail address!</div>
            </div>
          </md-input-container>
          <md-button
            class="md-raised md-primary"
            ng-click="requestReset()"
            ng-disabled="resetPasswordForm.$invalid">Reset Password</md-button>
        </form>
      </div>
      <div ng-show="requestSent">
        <h3>Check your e-mail inbox for next steps.</h3>
        <p>We're looking in our records for your e-mail, if we find it we'll send you an e-mail containing a special link that will allow you to reset your password.</p>
        <p>If you do not see an e-mail from us in 15 minutes, please check your spam folder.</p>
      </div>
    </md-card-content>
  </md-card>
</div>
