<!--<style>
    #volunteer-home-top-left-panel a {
        display: block;
    }
</style>-->
<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-body" id="volunteer-home-top-left-panel">
            <h3>Upcoming Volunteer Events: </h3>
            <a ui-sref='landing_page.initial_page'>Go Back to Home Page</a>

            <a ng-click="open('lg')">
                Create Profile</a>

            <!-- Opens profile if the user has already created one /views/profile.html -->
            <a ui-sref='profile({profile_Id:profile.id})'>
                    Profile Page </a>

        </div>
    </div>
    <ul class="list-group" ng-repeat="event in events">
        <li class="list-group-item"
            >
            <div ng-if="!event.distance" data-ng-disabled="event.distance">
            {{getDistance(event)}}
            </div>
            <p>{{event.name}}</p>

            <p>Start Date: {{event.start_time | date : 'shortDate'}}
                {{event.start_time | date : 'h:mm'}}</p>
            <p>End Date: {{event.end_time | date : 'shortDate'}}
                         {{event.end_time | date : 'h:mm'}}</p>
            <p>Distance: {{event.distance}} </p>
        </li>
    </ul>
</div>
<div class="col-xs-9">
        <map
            map-type-id="SATELLITE"
            style="height: 575px"
            zoom="12"
            >
        <marker
                position="{{userLocation}}"
                animation="Animation.DROP"
                ></marker>
        <div ng-repeat="event in events">
            <marker
                    position="{{event.latitude}},{{event.longitude}}"
                    title="{{event.name}}"
                    animation="Animation.DROP"
                    icon="../images/spaceport.png"></marker>
            <info-window position="{{event.latitude}},{{event.longitude}}">
                <div ng-non-bindable>
                    <div id="siteNotice">Hello World!</div>
                </div>
            </info-window>
        </div>
    </map>
</div>
