<div class="col-xs-4">
    <h3>Upcoming Volunteer Events:</h3>
    <ul class="list-group" ng-repeat="event in events">
        <li class="list-group-item" ng-init="getDistance(event)">
        <p>{{event.name}}</p>

            <p>Start Date: {{event.start_time | date : 'shortDate'}}
                {{event.start_time | date : 'h:mm'}}</p>
            <p>End Date: {{event.end_time | date : 'shortDate'}}
                         {{event.end_time | date : 'h:mm'}}</p>
            <p>Distance: {{event.distance}} </p>
        </li>
    </ul>
    <button ui-sref='landing_page.initial_page'>Go Back to Home Page</button>
</div>
<div class="col-xs-8">
    <map    map-type-id="SATELLITE"
            center="{{user.location}}"
            style="height: 500px"
            zoom="14"
            tilt="45"
            >
        <marker
                position="{{user.location}}"
                animation="Animation.DROP"
                icon="../images/home.png"></marker>
        <div ng-repeat="event in events">
            <marker
                    position="{{event.latitude}},{{event.longitude}}"
                    title="{{event.name}}"
                    animation="Animation.DROP"
                    icon="../images/spaceport.png"></marker>
        </div>
    </map>
</div>
