#facebook-login-text {
  text-align: center;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
}

.log-in-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: $primary;
}

#beta-message {
  color: red;
  text-align: center;
  font-size: 10pt;
}

.content .organization-login-list {
  clear: both;
  li {
    img {
      display: inline-block;
      height: 75px;
      width: 75px;
      @include breakpoint($mobile) {
        height: 125px;
        width: 125px;
        display: block;
      }
    }
    button {
      display: inline-block;
      color: white;
      background-color: $primary;
      float: right;
      position: relative;
      top: 2.26em;
      @include breakpoint($mobile) {
        top: .5em;
        display: block;
        float: none;
        margin: auto;
      }
    }
    p {
      display: inline-block;
      margin-left: 2em;
      @include breakpoint($tablet) {
        font-size: 15px;
      }
      @include breakpoint($mobile) {
        text-align: center;
        display: block;
        margin-left: 0;
      }
    }
  }
}

#organization-registration-container {
  img {
    float: right;
    display: inline-block;
    width: 300px;
    height: auto;
  }
  h2 {
    display: inline-block;
  }
  button {
    background-color: #123994;
    color: white;
    display: block;
    margin: 1em auto;
  }
}

