<md-input-container class="md-block">
  <label>Address</label>
  <input ng-model="organization.address">
</md-input-container>
<md-input-container md-no-float class="md-block">
  <input ng-model="organization.address2" placeholder="Address 2">
</md-input-container>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
    <label>City</label>
    <input ng-model="organization.city">
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>State</label>
    <md-select ng-model="organization.state">
      <md-option ng-repeat="state in states" value="{{state.abbrev}}">
        {{state.abbrev}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Postal Code</label>
    <input name="postalCode" ng-model="organization.postalCode" placeholder="12345"
           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
  </md-input-container>
</div>
<md-button
  class="md-raised md-primary right-bottom-button"
  ng-click="updateNewUserWithAddress()"
  >Complete Registration</md-button>
