#facebook-login-text {
  text-align: center;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
}

.log-in-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: $primary;
}

.create-facebook-page-text {
  text-align: center;
  width: 44%;
  margin: 5% auto;
}

#beta-message {
  color: red;
  text-align: center;
  font-size: 10pt;
}

.content .organization-login-list {
  clear: both;
  li {
    img {
      display: inline-block;
      height: 75px;
      width: 75px;
      @include breakpoint($mobile) {
        height: 125px;
        width: 125px;
        display: block;
      }
    }
    button {
      display: inline-block;
      color: white;
      background-color: $primary;
      float: right;
      position: relative;
      top: 15px;
      @include breakpoint($mobile) {
        top: .5em;
        display: block;
        float: none;
        margin: auto;
      }
    }
    p {
      display: inline-block;
      margin-left: 2em;
      @include breakpoint($tablet) {
        font-size: 15px;
      }
      @include breakpoint($mobile) {
        text-align: center;
        display: block;
        margin-left: 0;
      }
    }
  }
  .md-subheader .md-default-theme {
    float: left;
  }
}

#organization-registration-container {
    padding: 30px;
  img {
    float: right;
    display: inline-block;
    width: 300px;
    height: auto;
  }
  h2 {
    display: block;
    text-align: left;
      margin-bottom: 0px;
      font-size:40px;
      font-weight: 300;
    
  }
    h3{
        display:block;
        color:rgba(0,0,0,0.6);
    }
    h4{
        text-align: center;
        display: block;
        margin:50px 0px;
    }

}

