#facebook-login-text {
  text-align: center;
  width: 44%;
  margin-left: auto;
  margin-right: auto;
}

.log-in-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: $primary;
}

.organization-login-list {
  clear: both;
  li {
    img {
      display: inline-block;
      height: 75px;
      width: 75px;
      @media only screen and (max-width : $mobile) {
        display: block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
    }
    button {
      display: inline-block;
      color: white;
      background-color: $primary;
      float: right;
      position: relative;
      top: 2.26em;
      @media only screen and (max-width : $mobile) {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
        position: static;
      }
    }
    p {
      display: inline-block;
      margin-left: 2em;
      @media only screen and (max-width : $mobile) {
        text-align: center;
        font-size: 1.5em;
        margin-left: auto;
        margin-bottom: 6px;
        margin-right: auto;
        display: block;
      }
    }
  }
}

#organization-registration-container {
  img {
  float: right;
  display: inline-block;
  }
  h2 {
    display: inline-block;
  }
}

