<div class="content">
  <md-card >
    <md-card-content>
      <div ng-show="!loaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <div layout="row" id="organization-home-statistics">
        <div flex="25">
          <h4>Total Volunteers</h4>
          <p>{{organization.statistics.volunteers}}</p>
        </div>
        <div flex="25">
          <h4>Total Hours Recorded</h4>
          <p>{{organization.statistics.total_hours}}</p>
        </div>
        <div flex="25">
          <h4>Number of Opportunities</h4>
          <p>{{organization.statistics.total_opportunities}}</p>
        </div>
        <div flex="25">
          <h4>Average Hours Recorded</h4>
          <p>{{organization.statistics.average_hours_recorded}}</p>
        </div>
      </div>
      <highchart
        ng-show="loaded"
        config="lineGraphConfig">
      </highchart>
    </md-card-content>
  </md-card>
  <div class="row"   style="margin: 0 -15px;">
    <div class="col-md-6">
      <md-card class="dashboard-module">
        <h3 class="dashboard-module-header">Volunteers to Contact</h3>
        <md-card-content class="dashboard-module-content">
          <div ng-show="!loaded" ng-show="loaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div>
            <md-list ng-repeat="volunteer in organization.contact_volunteers"
                     ng-show="organization.contact_volunteers.length !== 0">
              <md-list-item >
                <p>{{volunteer.first_name}} {{volunteer.last_name}}</p>
                <a href="mailto:{{volunteer.email}}"><md-icon md-svg-src ="../img/icons/email.svg"
                         ng-if="volunteer.email"
                         class="s36"
                         aria-label="email"
                  ></md-icon></a>
                <a href="tel:{{volunteer.phone}}">
                  <md-icon md-svg-src="../img/icons/phone.svg"
                         class="s36"
                         ng-if="volunteer.phone"
                         aria-label="phone"
                  ></md-icon></a>
              </md-list-item>
            </md-list>
          </div>

          <!-- <div class="md-tile-content">
             <h4 person-modal size="lg" id="{{volunteer.id}}">
               {{volunteer.first_name}} {{volunteer.last_name}}</h4>
           </div>-->
          <md-item>
            <md-item-content ng-show="organization.contact_volunteers.length === 0">
              <p>You don't need to contact any volunteers right now!</p>

            </md-item-content>
          </md-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <div class="col-md-6">
      <md-card class="dashboard-module">
        <h3 class="dashboard-module-header">Recently Recorded Hours</h3>
        <md-card-content ng-show="loaded" class="dashboard-module-content">
          <div ng-show="!loaded">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
          <div ng-show="loaded">
            <md-list layout="column">
              <recorded-hour ng-repeat="recorded_hour in organization.recorded_hours | orderBy:'-updated_at'"
                             recorded-hour="recorded_hour"
                             recorded-hours="organization.recorded_hours"
                             type="opportunity"></recorded-hour>
            </md-list>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>


