<div class="content user-confirmation-content">
  <md-card>
    <md-card-content>
      <h1>Thanks for confirming your email!</h1>
      <h4>Please Complete Your Registration</h4>
      <div class="confirmation-fields">
        <div layout="row" ng-show="!user.profile.first_name || !user.profile.last_name">
          <md-input-container flex="50" >
            <label>First Name</label>
            <input ng-model="profile.first_name">
          </md-input-container>
          <md-input-container flex="50" >
            <label>Last Name</label>
            <input ng-model="profile.last_name">
          </md-input-container>
        </div>
        <div layout="column">
          <md-input-container flex >
            <label>Password</label>
            <input ng-model="userPass.password" type="password">
          </md-input-container>
          <md-input-container flex>
            <label>Confirm Password</label>
            <input ng-model="userPass.password_confirmation" type="password">
          </md-input-container>
        </div>
      </div>
      <md-button class="md-primary md-raised"
                 id="confirm-password-button"
                 ng-click="updateNewUserWithPasswordAndProfile()">Update Registration</md-button>
    </md-card-content>
  </md-card>
</div>

