/*****************************************************************************
Colors
******************************************************************************/

$background: #ecebd9;
$primary: #123994;



/*****************************************************************************
Variables
******************************************************************************/

$mobile: 480px;
