/*****************************************************************************
Colors
******************************************************************************/

$background: #ecebd9;
$primary: #123994;



/*****************************************************************************
Variables
******************************************************************************/

$mobile: 480;
$medium: 1000;
$huge: 1400;

