/*****************************************************************************
Colors
******************************************************************************/

$background-color: #f2f2f2;
$darkPrimary: #0288D1;
$primary: #35c0ff;
$lightPrimary: #B3E5FC;
$accent: #FF4081;
$font: rgba(0,0,0,0.6);



/*****************************************************************************
Variables
******************************************************************************/

/* Breakpoint */
$mobile: 480;
$tablet: 850;
$medium: 1000;
$huge: 1400;


/*****************************************************************************
text
******************************************************************************/
