.full-page-image {
  background: url('../images/workers_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#sign-in {
  float: right;
  display: inline-block;
  position: fixed;
}

#landing-header {
  width: 100%;
  text-align: center;
  position: fixed;
  top: -25px;
  z-index: 15;
  @media screen and (max-width: 720px) {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
  }
  .welcome-to {
    font-size: 70px;
    display: block;
  }
  .volu {
    font-size: 175px;
    text-align: center;
  }
  .v {
    margin-top: -32px;
  }
  #landing-header-menu {
    li {
      display: inline-block;
      padding: 0 1.5%;
      a {
        color: black;
        font-size: large;
      }
    }
  }
}

#landing-container {
  z-index: 5;
  margin-top: 233px;
  @media screen and (max-width: 320px) {
    margin-top: 65px;
  }
}
.intro {
  font-size: 16px;
}

.sign-up {
  margin: 130px auto 0;
  width: 430px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 0 0 45px 0;
  }
  .are-you-a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn {
    background: #00a2cc;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 16px;
  }
}

#sign-in-button-dropdown {
  position: fixed;
  right: 5%;
  top: 4%;
}

#landing-page-about{
  /*img {
    position: relative;
    left: 9%;
  }
  p {
    position: relative;
    left: 40%;
    margin-top: 15%;
    width: 56%;
    text-align: center;
    font-size: 17px;
  }*/
}

.landing-page-organization-slide-menu {
  list-style-type: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  li {
    margin-bottom: 10%;
    @media screen and (max-width: 720px) {
      margin-bottom: 5%;
    }
    .landing-page-organization-slide-menu-link {
      font-size: smaller;
      color: grey;
      -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      .landing-page-organization-slide-menu-link:active {
        border-style: none;
      }
    }
    .landing-page-organization-slide-menu-link.active-link {
      font-size: medium;
      color: black;
    }
  }
}

.landing-page-section-2-container {
  @media screen and (max-width: 720px) {
    margin-top: -24%;
  }
  .landing-page-section-2-image {
    display: block;
    margin: 2.5% auto;
    @media screen and (max-width: 720px) {
      margin: 0 auto;
      height: 150px;
    }
  }
}

#landing-page-volunteer-image {

}

#landing-page-contact {
  background-color: black;
  #landing-page-contact-container {
    background-color: black;
  }
  #contact-form-text {
    color: white;
    font-size: 40px;
    margin: 5% 0;
  }
  #contact-section-menu-container {
    margin-top: 3%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    background-color: black;
    height: 23.5em;
    #contact-menu-container {
      padding: 2px;
    }
  }
  #contact-bottom-menu{
    margin-top: 3%;
    list-style-type: none;
    padding-left: 15px;
    li {
      padding: 3%;
      a {
        font-size: 23px;
        color: white;
        @media screen and (max-width: 720px) {
          font-size: 12px;
        }
        a:visited {
          color: yellow;
        }
      }
    }
  }
  #contact-section-content-container {
    margin-top: 3%;
    height: 23.5em;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    background-color: black;
  }
  .contact-section-panel {
    height: 23.5em;
  }
  #contact-form {
    color: white;
    .contact-form-input {
      label {
        color: white;
      }
      input {
        color: white;
        width: 100%;
        border-color: white;
        border-bottom-width: 3px;
      }
    }
    textarea {
      width: 100%;
      border-color: white;
      border-width: 3px;
      background-color: black;
      color: white;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
    button {
      background-color: black;
      color: white;
      border-color: white;
    }

  }
}



