.full-page-image {
  background: url('../images/workers_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#sign-in {
  float: right;
  display: inline-block;
  position: fixed;
}

#landing-header {
  width: 100%;
  text-align: center;
  position: fixed;
  top: -25px;
  z-index: 15;
  .welcome-to {
    font-size: 70px;
    display: block;
  }
  .volu {
    font-size: 175px;
    text-align: center;
  }
  .v {
    margin-top: -32px;
  }
  #landing-header-menu {
    li {
      display: inline-block;
      padding: 0 1.5%;
      a {
        color: black;
        font-size: large;
      }
    }
  }
}

#landing-container {
  z-index: 5;
  margin-top: 233px;
}
.intro {
  font-size: 16px;
}

.sign-up {
  margin: 130px auto 0;
  width: 430px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin: 0 0 45px 0;
  }
  .are-you-a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn {
    background: #00a2cc;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 16px;
  }
}

.landing-page-organization-slide-menu {
  list-style-type: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  li {
    margin-bottom: 10%;
    a {
      font-size: medium;
      color: black;
    }
  }
}
.landing-page-section-2-image {
  display: block;
  margin: 5% auto;
}

#landing-page-contact {
  background-color: black;
  #contact-form-text {
    color: white;
    font-size: 40px;
    margin: 5% 0;
  }
  #contact-section-menu-container {
    margin-top: 7%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    background-color: black;
    #contact-menu-container {
      height: 25em;
    }
  }
  #contact-bottom-menu{
    margin-top: 3%;
    list-style-type: none;
    padding-left: 15px;
    li {
      padding: 3%;
      a {
        font-size: 23px;
        color: white;
        a:visited {
          color: yellow;
        }
      }
    }
  }
  #contact-section-content-container {
    margin-top: 7%;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    background-color: black;
  }
  .contact-section-panel {
    height: 25em;
  }
  #contact-form {
    color: white;
    .contact-form-input {
      label {
        color: white;
      }
      input {
        width: 100%;
        border-color: white;
        border-bottom-width: 3px;
      }
    }
    textarea {
      width: 100%;
      border-color: white;
      border-width: 3px;
      background-color: black;
      color: white;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
    button {
      background-color: black;
      color: white;
      border-color: white;
    }

  }
}



