$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_variables.scss";
@import "mixins/_breakpoint.scss";
@import "mixins/_placeholder.scss";
@import "mixins/_box-shadow.scss";
@import "mixins/_inner-shadow.scss";
@import "../organizations/registration/organization_registration.scss";
@import "../navigation/header.scss";
@import "../static_pages/style.css";
@import "../organizations/people/people.scss";
@import "../organizations/opportunities/opportunity_details.scss";
@import "../organizations/opportunities/opportunities.scss";
@import "../organizations/opportunities/add_opportunity_window.scss";
@import "../navigation/side-menu.scss";

html {
  background-color: $background-color;
  body {
    background-color: $background-color;
  }
  .snap-content {
    background-color: $background-color;
  }
}

md-card {
  background-color: white;
}

md-tab {
  overflow-x: hidden;
}



.container-fluid {
  padding: 0;
}


.centered-container {
  .top {
    background-color: $primary;
    height: 276px;
  }
  .content {
    width: 1000px;
    position: relative;
    bottom: 11em;
    /* height: 560px; */
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width : $mobile) {
      padding: 0 1em;
    }
    @include breakpoint($medium) {
      width: 800px;
    }

  h2 {
    text-align: center;
    color: $primary;
  }
  h3 {
    color: #123994;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  a {
    color: $primary;
  }
  }
}

/***************************************************************
Floating Action Button Styles
***************************************************************/

.mfb-component--br {
  right: 15px;
  bottom: 0px;
}

