$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_variables.scss";
@import "mixins/_breakpoint.scss";
@import "mixins/_placeholder.scss";
@import "mixins/_box-shadow.scss";
@import "mixins/_inner-shadow.scss";

@import "../organizations/registration/organization_registration.scss";
@import "../organizations/floating_action_button.scss";
@import "../navigation/header.scss";
@import "../organizations/people/people.scss";
@import "../organizations/tutorial/tutorial.scss";
@import "../organizations/home/organization_home.scss";
@import "../organizations/nearby_organizations/nearby_organizations.scss";
@import "../organizations/opportunities/opportunities.scss";
@import "../organizations/volunteer_registration/volunteer_registration.scss";
@import "../organizations/account/organization_account.scss";
@import "../users/users.scss";
@import "../users/confirm_registration/confirm_registration.scss";
@import "../organizations/user_organizations/user_organizations.scss";




/************************************************************
Modal Styles
************************************************************/
@import "../organizations/modals/opportunity_details.scss";
@import "../organizations/modals/add_opportunity_person.scss";
@import "../organizations/modals/add_opportunity.scss";
@import "../organizations/modals/record_hours_modal.scss";
@import "../organizations/modals/opportunity_roles.scss";
@import "../organizations/modals/add_resources.scss";
@import "../organizations/modals/person_detail.scss";
@import "../organizations/modals/support_form.scss";
@import "../organizations/modals/edit-schedule.scss";
@import "../organizations/modals/terms_of_service.scss";
@import "../organizations/modals/generate_report.scss";
@import "../organizations/modals/email_registration.scss";
@import "../organizations/modals/log_in.scss";
@import "../organizations/modals/auxiliary-modal-window.scss";
@import "../organizations/modals/add_facebook_organization.scss";
@import "../organizations/modals/contact_organization.scss";
@import "../organizations/modals/get_involved_opportunity.scss";
@import "../organizations/modals/create_organization.scss";

/************************************************************
Volunteer Styles
************************************************************/
@import "../volunteers/volunteers.scss";


/************************************************************
Organization Directive Styles
************************************************************/

/* Details in Opportunity and Person  */
@import "../organizations/directives/edit_object_directive.scss";
@import "../organizations/directives/add_person_opportunity.scss";
@import "../organizations/directives/edit_address.scss";
@import "../organizations/directives/recorded_hour.scss";
@import "../organizations/directives/opportunity_role.scss";
@import "../organizations/directives/schedule-form.scss";
@import "../organizations/directives/find_person.scss";
@import "../organizations/directives/organization_search.scss";
@import "../organizations/directives/form_directives/form_directives.scss";

@import "../volunteers/volunteer_home.scss";
@import "../navigation/side-menu.scss";
@import "../static_pages/landing_page.scss";
@import "../static_pages/volunteer_drive_16/volunteer_drive_16.scss";
@import "../organizations/modals/record_hours_modal.scss";
@import "../organizations/modals/global_modal_styles.scss";

html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  body {
    height: 100%;
    width: 100%;
    background-color: $background-color;
    padding:0px;
    margin:0px;
    font-family:'roboto';
    font-weight:300;
    overflow: scroll;
    .row {
      margin: 0 0;
    }
    ._md-select-menu-container {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0;
      display: none;
    }
  }
  .snap-content {
    background-color: $background-color;
  }
}

._md-select-menu-container._md-active {
  display: block;
  opacity: 1;
  z-index: 100;
}

.error-message {
  color: red;
  text-align: center;
}

.md-button.md-primary.md-raised {
 color: white;
}

a.md-button.md-primary.md-raised {
  color: white;
}

md-input-container {
  width: 100%;
}

.md-subheader {
  background-color: white;
}

.md-tabs.md-primary {
  color: white;
}

.container-fluid {
  padding: 0;
}


.centered-container{
  width:100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  overflow: scroll;
  z-index: -10;
}

.centered-container {
  .top {
    background-color: $primary;
    height: 276px;
  }
  .content {
    width: 1000px;
    position: relative;
    top:120px;
    /* height: 560px; */
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width : $mobile) {
      padding: 0 1em;
    }
    @include breakpoint($medium) {
      width: 736px;
    }
    @include breakpoint($tablet) {
      width: 600px;
    }
    @include breakpoint($mobile) {
      width: 320px;
    }



    h2 {
      text-align: center;
      color: $primary;
    }
    h3 {
      color: #123994;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    a {
      color: $primary;
    }
  }
  .external-content {
    top: 2vh !important;
  }
}

.file-drop-box {
  position: relative;
  background-color: #90CAF9;
  width: 100%;
  height: 150px;
  border-style: dashed;
  border-width: 2px;
  border-color: #f2f2f2;
  h4 {
    margin: 0 auto;
    width: 125px;
    display: block;
    position: relative;
    top: 26px;
  }
  p {
    margin: 0 auto;
    width: 180px;
    text-align: center;
    width: 125px;
    display: block;
    font-size: 8pt;
    position: relative;
    top: 26px;
  }
}

/***************************************************************
Floating Action Button Styles
***************************************************************/

.mfb-component--br {
  right: 15px;
  bottom: 0px;
  position: fixed;
}

