$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_variables.scss";
@import "../organizations/registration/organization_registration.scss";

.container-fluid {
  padding: 0;
}

.centered-container {
  padding: 8em;
  padding-left: 20em;
  padding-right: 20em;
  @media only screen and (max-width : $mobile) {
    padding: 1em;
  }
  h2 {
    text-align: center;
    color: $primary;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  a {
    color: $primary;
  }
}

