
.add_events {
  padding-top: 50%;
}

.org-col-1 {
  padding: 0px;
	color: #fff;
	background: #00a2cc;
	height: 100vh;
}
.org-logo-container {
	width: 194px;
	height: 194px;
	background: #fff;
	border-radius: 50%;
	margin: 30px auto 0;
	position: relative;

	.org-logo {
		position: absolute;
    height: 100%;
    width: 100%;
	}
}
.org-name {
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 13px 0 0;
}
.org-info {
	margin: 0 0 0 64px;
	.org-zip {
		font-size: 16px;
		text-transform: uppercase;
	}
	.org-about {
		font-size: 10px;
		width: 185px;
	}
}
#organization-add-event-button {
  background-color: inherit;
  color: white;
  border-width: 2px;
  border-color: white;
}

#organization-nav-links {
  position: absolute;
  bottom: 6%;
  left: 20%;
}

.org-event-list {
	list-style: none;
	li {
		text-transform: uppercase;
		list-style-position: inside;
		margin-bottom: 12px;
    color: #FFFFFF;
    list-style-type: none;
		a {
			color: #fff;
		}
		a:hover {
			text-decoration: none;
		}
		&.icon {
			padding: 5px 0 03px 28px;
		}
		&.checked {
			background: url('../images/icon_checked.jpg') 0 5px no-repeat;
		}
		&.add {
			background: url('../images/icon_add.jpg') 0 5px no-repeat;
		}
	}
}
