.introduction {
  text-align: center;
  position: relative;
  top: 33vh;
  color: white;
  h1 {
    font-size: 48pt;
    margin-bottom: 2vh;
    color: white;
  }
  h4 {
    color: white;
  }
  button {
    display: none;
  }
}

.contact-us-link {
  position: fixed;
  right: 2vw;
  bottom: 4vh;
  font-size: 18pt;
  color: #E91E63;
  font-weight: bolder;
}
.volunteer-drive-16-content {
  padding: 8vh 32vw;
  text-align: center;
  .button-group {
    margin: 2vh auto;
    width: 300px;
    a {
      display: block;
      width: 300px;
      margin-bottom: 8px;
    }
    md-button {

    }
  }
}

.loaded {
  text-align: center;
  position: relative;
  color: white;
  top: 4vh;
  img {
    height: 25px;
    width: 25px;
  }
  h1 {
    font-size: 16pt;
    margin-bottom: 0vh;
    color: white;
  }
  h4{
    font-size: 12pt;
    color: white;
  }
  h2 {
    text-align: center;
    font-weight: bolder;
    color: white;

  }
  ul {
    list-style: none;
    position: relative;
    right: 22px;
    color: white;
    li {
      display: inline-block;
      margin-left: 4px;
    }
    a {
       color: #E91E63;
      font-weight: bolder;
    }
  }
  .volunteer-group-logo {
    position: fixed;
  }
}

.vd-2016 {
  margin: 0 auto;
  display: block;
  font-size: 14pt;
  margin-top: 12vh;
  width: 60vw;
  text-align: center;
  color: white;
  a {
    color: #E91E63;
    font-weight: bolder;
  }
  .flexslider {
    width: 100%;
    height: 200px;
  }

  .flexslider .slides img {
    width: 100%;
    height: 200px;
  }
}
.vd-2 {
  small {
    position: relative;
    bottom: 2vh;
  }
  ol {
    text-align: left;
    width: 48vw;
    margin: 0 auto;
    display: block;
  }
}

.vd-3 {
  ul {
    text-align: left;
    /* list-style: none; */
    width: 40vw;
    margin: 4vh auto;
    display: block;
  }
  li {
    margin: 2vh;
  }
}

#sponsors-page {
  [flex="75"] {
    background: white;
    color: black;
    border-radius: 25px;
    padding: 4vh 4vw;
    box-shadow: 4px 4px 4px grey;
    margin-bottom: 4vh;
  }
  h4 {
    color: #03a9f5;
    margin-bottom: 4px;
    font-size: 22pt;
    text-transform: uppercase;
  }
  small {
    display: block;
  }
  .perks-list {
    /* list-style: none; */
    margin-top: 2vh;
    text-align: left;
    li {
      /* margin: 16px 0; */
    }
  }
  #sponsorship-option-menu {
    margin-top: 10vh;
    text-align: left;
  }
  a {
    display: block;
    color: #E91E63;
    font-weight: bolder;
  }
  .not_selected {
    font-size: 14pt;
  }
  .selected {
    font-size: 18pt;
    color: #F48FB1;
  }
}

.vd-2016 .flexslider {
  background: #35c0ff;
  border: #35c0ff;
}
