<nav ng-if="current_state !== 'organizations.registration'"
     mfb-menu position="br" effect="zoomin"
     label="Add To Your Organization"
     active-icon="ion-edit"
     label="Add Opportunity"
     resting-icon="ion-plus-round"
     toggling-method="hover">
  <a mfb-button icon="ion-clock"
     ng-click="recordHours('lg');"
     label="Record Hours"></a>
  <a mfb-button icon="ion-flag"
     ng-click="addVolunteerOpportunity('lg');"
     label="Add Opportunity"></a>
  <a mfb-button icon="ion-person-add"
     ng-click="addOrganizationPerson('lg');"
     label="Add Person"></a>
</nav>
<md-fab-speed-dial md-open="demo.isOpen" md-direction="up"
                   ng-class="demo.selectedMode">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab md-warn">
      <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button aria-label="twitter" class="md-fab md-raised md-mini">
      <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
    </md-button>
    <md-button aria-label="facebook" class="md-fab md-raised md-mini">
      <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
    </md-button>
    <md-button aria-label="Google hangout" class="md-fab md-raised md-mini">
      <md-icon md-svg-src="img/icons/hangout.svg"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>
