<nav ng-if="current_state !== 'organizations.registration'"
     mfb-menu position="br" effect="zoomin"
     label="Add To Your Organization"
     active-icon="ion-edit"
     label="Add Opportunity"
     resting-icon="ion-plus-round"
     toggling-method="hover">
  <a mfb-button icon="ion-clock"
     ng-click="recordHours('lg');"
     label="Record Hours"></a>
  <a mfb-button icon="ion-flag"
     ng-click="addVolunteerOpportunity('lg');"
     label="Add Opportunity"></a>
  <a mfb-button icon="ion-person-add"
     ng-click="addOrganizationPerson('lg');"
     label="Add Person"></a>
</nav>
