<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,300italic,700,300" rel="stylesheet" type="text/css" />

</head>
<body style="
background-color:#35c0ff;
        font-family: 'Roboto', 'Arial', sans-serif;
        font-weight:300;
        margin:0px;
">
<div style="display:table;
        width:100%;
        height:100%;">
  <div style="display:table-cell;
          vertical-align:middle;">
    <div style="background-color:#fff;
            border-radius:4px;
            box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
            width:80%;
            margin:20px auto;
            padding:46px 30px 30px 30px;
            position:relative;">
      <p>Thanks for Registering for Volu <%= @email %>!</p>

      <p>We're excited that you decided to try Volu out, although still in the early stages of our company,
        we're very passionated about managing volunteers.  We appreciate any feedback you're willing to give us, and exist
      to best serve you, so don't ever hesitate to make suggestions or reach out to us directly!</p>

      <p>You can confirm your account email through the link below, if you haven't finished registering you will have the
        chance to do so on the same page.  If you have than you will be taken immediately to Volu so you can log in:</p>

      <p><%= link_to "Click Here To Finish Registering", "http://www.voluapp.com/#/users/confirm_registration/#{@token}" %></p>
     <!-- <p><%#= link_to "Click Here To Finish Registering", "http://localhost:9000/#/users/confirm_registration/#{@token}" %></p> -->
      <p style="text-align:right;
              color:rgba(0,0,0,0.4) !important;">Powered by VOLU</p>
    </div>
  </div>
</div>
</body>
</html>