<div class="application-header"
     ng-show="current_state !== 'organizations.registration'"
     ng-controller="HeaderCtrl">
  <i class="icon ion-navicon"
     ng-show="current_state !== 'organizations.registration' && !menu_open"
     ng-click="open()">
  </i>
  <i class="icon ion-navicon"
     ng-show="current_state !== 'organizations.registration' && menu_open"
     ng-click="close()">
  </i>
  <div class="headerpar"  scroll-watch="{from: 0, to: -1, stage: 'centered-container'}"
       sw-class="{red: $offsetTop > 57}">
    <div class="headerimg" scroll-watch="{from: 0, to: -1, stage: 'centered-container'}" sw-class="{black: $offsetTop > 77}">
      <img src="../logo.png"  style="height:30px;" ></div>
    <input class="searchbar" type="text"
           ng-model="search_query"
           ng-keypress="search()"
           placeholder="Search for anything...">
    <div ng-show="searching">
       <md-card class="searchcard">
      <md-card-content>
          <md-list>
            <md-list-item class="md-2-line"
                          ng-repeat="result in results"
                          ng-click="openModal(result)">
              {{result.img}}
              <div class="md-list-item-text">
                <h3>{{result.title}}</h3>
                <p>{{result.type}}</p>
              </div>
            </md-list-item>
          </md-list>
           </md-card-content>
        </md-card>
    </div>
  </div>
</div>

<md-fab-toolbar md-open="false" count="0" ng-class="md-right">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary">
        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="comment" class="md-icon-button">
          1
        </md-button>
        <md-button aria-label="label" class="md-icon-button">
          2
        </md-button>
        <md-button aria-label="photo" class="md-icon-button">
          3
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>


      <div style="width:100vw;height:250px;background-color:#03a9f5;position:fixed;z-index:-50;"></div>
