
.application-header {
  height: 100px;
  width: 100%;
  position: fixed;
<<<<<<< HEAD
  padding-top: 33px;
  .black {
    background-color: black;
  }
  input {
    display: block;
    margin: 0px auto;
    height: auto;
    font-size: 16pt;
=======
  padding-top: 50px;
  
input {
        display: block;
  margin: 0px auto;
  height: auto;
   font-size: 16pt;
>>>>>>> origin/Newtest
    display: block;
    margin: 0px auto;
    width: 1000px;
    font-size: 16pt;
    @include placeholder-color($primary);
    @include breakpoint($medium) {
      width: 736px;
    }
    @include breakpoint($tablet) {
      width: 600px;
    }
    @include breakpoint($mobile) {
      width: 320px;
    }

  }
  i {
    font-size: 50px;
    position: fixed;
    left: 16px;
    top: 14px;
    color: $background-color;
    a {
      display: inline-block;
      font-size: 25px;
      position: relative;
      bottom: 10px;
      left: 10px;
      color: $background-color;
    }
  }
  img {
    height: 50px;
    color: white;
  }
}
