<div class="application-header"
     ng-show="current_state !== 'organizations.registration'"
     ng-controller="HeaderCtrl">
  <i class="icon ion-navicon"
     ng-show="current_state !== 'organizations.registration' && !menu_open"
     ng-click="open()">
  </i>
  <i class="icon ion-navicon"
     ng-show="current_state !== 'organizations.registration' && menu_open"
     ng-click="close()">
  </i>
  <div class="headerpar"  scroll-watch="{from: 0, to: -1, stage: 'centered-container'}"
       sw-class="{red: $offsetTop > 57}">
    <div class="headerimg" scroll-watch="{from: 0, to: -1, stage: 'centered-container'}" sw-class="{black: $offsetTop > 77}">
      <img src="../logo.png"  style="height:30px;" ></div>
    <input class="searchbar" type="text"
           ng-model="search_query"
           ng-keypress="search()"
           placeholder="Search for anything...">
    <div ng-show="searching">
       <md-card class="searchcard">
      <md-card-content>
        <p ng-repeat="result in results">
          {{result}}
        </p>
           </md-card-content>
        </md-card>
    </div>
  </div>
</div>

