<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
  <md-content layout-padding ng-controller="HeaderCtrl" class="navmain">
      <div style="padding:0px 15px;">
      <h2>Menu</h2>
      <md-divider></md-divider><br/>
      </div>
    <a href=""
       ui-sref='organizations.organization_home({organization_Id:organization_id})'>Home</a>
    <a href=""
       ui-sref='organizations.people_home({organization_Id:organization_id})'>People</a>
    <!--<a href=""
       ui-sref='organizations.nearby_organizations({organization_Id:organization_id})'>Nearby Organizations</a>-->
    <a href=""
       ui-sref='organizations.opportunities_home({organization_Id:organization_id})'>Opportunities</a>
    <a href=""
       ui-sref='organizations.organization_account({organization_Id:organization_id})'>Account</a>
    <div id="side-menu-buttons">
    <md-button style="width:274px;margin:0px 15px;" class="md-raised md-warning"ng-click="logOut()">
      Log Out
    </md-button>
    <md-button style="width:274px;margin:30px 15px;" class="md-raised md-primary"ng-click="close()">
      Close Menu
    </md-button>
    </div>
  </md-content>
</md-sidenav>
