md-list-item.md-3-line .md-list-item-text {
  margin-left: 4%;
}

#contact-only-switch {
  position: relative;
  left: 50%;
  top: 18%;
}

md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}

.home-person-list {
  h1 {
    float: right;
    margin: 0px auto 0px auto;
    display: inline-block;
  }
}

.bulk-import-people {
  h3 {
    margin-top: 0;
  }
  md-input-container {
    padding-bottom: 8px;
  }
  .import-box {
    padding: 12px 24px;
  }
  #header {
    text-align: center;
    margin: 12px 0;
  }
  button {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  input {
    margin: 24px 0;
    margin-bottom: 0px;
  }
  #worksheet-select {

  }
}





