md-list-item.md-3-line .md-list-item-text {
  margin-left: 4%;
}

md-progress-circular {
  margin-left: auto;
  margin-right: auto;
}

.home-person-list {
  h1 {
    float: right;
    margin: 0px auto 0px auto;
    display: inline-block;
  }
}





