
<md-card class="content" >
  <md-card-content>
    <!-- <a href="" ng-click="bulkAddPeople('lg')">Import People From Spreadsheet</a> -->
    <md-list>
      <md-item ng-repeat="person in people">
        <md-item-content>
          <div class="md-tile-left">
            <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=small"
                 class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3 person-modal size="lg" id={{person.id}}>{{person.first_name}} {{person.last_name}}</h3>
            <h4></h4>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-card-content>
</md-card>

