
<md-card class="content" >
  <md-card-content>
    <!-- <a href="" ng-click="bulkAddPeople('lg')">Import People From Spreadsheet</a> -->
    <md-list class="home-person-list">
      <md-list-item
        class="md-3-line"
        ng-repeat="person in people">
        <img src="http://graph.facebook.com/{{person.fb_id}}/picture?type=small"
             class="face" alt="{{item.who}}" />
        <div class="md-list-item-text" person-modal size="lg" id={{person.id}}>
          <h3>{{person.first_name}} {{person.last_name}}</h3>
          <h1>{{person.total_recorded_hours}}</h1>
         <!-- <h4>{{ item.what }}</h4>
          <p>{{ item.notes }}</p> -->
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

