.add-event-modal-window .modal-content {
  height: 600px;
  overflow: auto;
  padding: 2em;
}

#add-event-forms {
  .md-header {
    background-color: #00a2cc;
  }
  md-tab-label {
    color: white;
  }
  md-input-container {
    padding-bottom: 0px;
  }
  .md-button.md-default-theme.md-primary.md-raised {
    margin-top: 15px;
    width: 150px;
    float: right;
    margin-right: 15px;
  }
  .k-i-calendar {

  }

  .k-i-clock {

  }
}

#facebook-event-list {
  margin-top: 16px;
  #facebook-event-name {
    display: inline-block;
    float: left;
    padding: 0px;
    font-size: large;
    color: black;
  }
  li {
    list-style-type: none;
    p {
      display: inline-block;
      padding-left: 50px;
      font-size: small;
      color: #808080;
      padding-top: 6px;
    }
    a {
      float: right;
      margin-right: 16px;
      padding-top: 6px;
    }
  }
}
