/****************************************************************

Styles for MD-Date Picker!

*****************************************************************/
.time-date {
  width: 100%;
  .date-control {
    padding-left: 10%;
  }
  .display > .title {
    background-color: $primary;
  }
  > .display > .content {
    background-color: $primary;

  }

  .control > .slider > .switch-control {
    background-color: $primary;
  }
}
.opportunity-type-window .modal-content {
  padding: 2em;
}
.opportunity-type-button {
  display: block;
  color: white;
  background-color: $primary;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-color: white;
}

.repetition_rule_select_box {
  md-checkbox {
    display: inline-block;
  };
}
