.opportunity-type-window .modal-content {
  padding: 2em;
}
.opportunity-type-button {
  display: block;
  color: white;
  background-color: $primary;
  width: 100%;
  height: 50px;
  border-width: 1px;
  border-color: white;
}

.repetition_rule_select_box {
  md-checkbox {
    display: inline-block;
  };
}
