<div class="">
  <md-tabs class="md-accent" md-selected="data.selectedIndex">
    <md-tab id="tab1" aria-controls="tab1-content">
      Step 1
    </md-tab>
    <md-tab id="tab2" aria-controls="tab2-content">
      Step 2
    </md-tab>
    <md-tab id="tab3" aria-controls="tab3-content">
      Step 3
    </md-tab>
  </md-tabs>
  <ng-switch on="data.selectedIndex" class="">
    <div role="tabpanel"
         aria-labelledby="tab1"
         ng-switch-when="0"
         md-swipe-left="next()"
         md-swipe-right="previous()" >
      <h1>Add Volunteering Position</h1>
      <md-input-container>
        <label>Position Name</label>
        <input ng-model="newOpportunity.opportunity_name">
      </md-input-container>
      <md-input-container flex>
        <label>Description</label>
        <textarea ng-model="newOpportunity.description" columns="1" md-maxlength="150"></textarea>
      </md-input-container>
      <!-- Event Address -->
      <md-input-container flex>
        <label>Address</label>
        <input ng-model="newOpportunity.address">
      </md-input-container>

      <!-- Event Location Information -->
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="newOpportunity.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="newOpportunity.state">
        </md-input-container>
        <md-input-container flex>
          <label>Zip Code</label>
          <input ng-model="newOpportunity.zip_code">
        </md-input-container>
      </div>
      <button class="btn btn-lg" ng-click="data.selectedIndex = 1">Next: Enter Scheduling Information</button>
    </div>
    <div role="tabpanel"
         aria-labelledby="tab2"
         ng-switch-when="1"
         md-swipe-left="next()"
         md-swipe-right="previous()" >


      <h4>First Start Date/Time of Position</h4>
      <time-date-picker ng-model="newOpportunity.start_time"></time-date-picker>



      <h2>Shift Duration</h2>
      <h3>{{position_duration | duration:'h:mm'}} {{duration_label}}</h3>
      <md-slider flex min="900000" step="900000" max="43200000" ng-model="position_duration" aria-label="red" id="red-slider" class>
      </md-slider>

      <!-- Does the event repeat? -->
      <md-checkbox ng-model="newOpportunity.repeating_event" aria-label="Repeating event?">
        Is this a reoccurring opportunity?
      </md-checkbox>

      <!-- What is the unit of its repeat? -->
      <div class="repeat_main_selection repetition_rule_select_box" ng-show="newOpportunity.repeating_event">
        <md-checkbox ng-model="newOpportunity.repeat.repeat_daily"
                     aria-label="Daily">
          Daily?
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.repeat.repeat_weekly"
                     aria-label="Weekly">
          Weekly?
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.repeat.repeat_monthly"
                     aria-label="Monthly">
          Monthly?
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.repeat.repeat_annually"
                     aria-label="Annually">
          Annually?
        </md-checkbox>
      </div>

      <!-- How frequently does it repeat? -->
      <div ng-show="newOpportunity.repeating_event">
        Repeat every
        <select
          class="repeat_day_select"
          ng-options="day as day for day in days"
          ng-model="newOpportunity.repeat_count"></select>
        Units
      </div>
      <div ng-show="newOpportunity.repeat.repeat_weekly">
        <h2>Repeat On:</h2>
        <md-checkbox ng-model="newOpportunity.monday_repeat" aria-label="Monday">
          Monday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.tuesday_repeat" aria-label="Tuesday">
          Tuesday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.wednesday_repeat" aria-label="Wednesday">
          Wednesday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.thursday_repeat" aria-label="Thursday">
          Thursday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.friday_repeat" aria-label="Friday">
          Friday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.saturday_repeat" aria-label="Saturday">
          Saturday
        </md-checkbox>
        <md-checkbox ng-model="newOpportunity.sunday_repeat" aria-label="Saturday">
          Sunday
        </md-checkbox>
      </div>
      <div ng-show="repeat_monthly">
        <md-checkbox ng-model="newPosition.saturday_repeat" aria-label="Saturday">
          Repeat On Day of the Month?
        </md-checkbox>
        <md-checkbox ng-model="newPosition.sunday_repeat" aria-label="Saturday">
          Repeat on Day of the Week?
        </md-checkbox>
      </div>
      <button class="btn btn-lg" ng-click="data.selectedIndex = 0">Back: Enter Basic Opportunity Information</button>
      <button class="btn btn-lg" ng-click="data.selectedIndex = 2">Next: Tag Volunteers and Skills</button>
    </div>
    <div role="tabpanel"
         aria-labelledby="tab3"
         ng-switch-when="2"
         md-swipe-left="next()"
         md-swipe-right="previous()" >
      <button class="btn btn-lg" ng-click="data.selectedIndex = 1">Back: Enter Opportunity Schedule</button>
      <button class="btn btn-lg" ng-click="newOpportunity()">Create Opportunity!</button>
    </div>
  </ng-switch>
</div>





