<md-card class="content" id="group-home">
  <md-card-content>
    <div ng-if="!loaded">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <h2 ng-show="organization.nonprofit">Groups That You've Worked With In Past</h2>
    <h2 ng-show="organization.volunteer_group">Nonprofits That You've Worked With In Past</h2>
    <md-divider></md-divider>
    <md-grid-list md-cols-sm="1"
                  md-cols-md="2"
                  md-cols-gt-md="6"
                  md-row-height-gt-md="1:1"
                  md-row-height="2:2"
                  md-gutter="12px"
                  md-gutter-gt-sm="8px"
                  class="group-list">
      <md-grid-tile
        ng-repeat="group in organization_groups"
        group-modal
        id="{{group.id}}"
        size="lg"
        ng-style="{
    'background': group.bg_color
    }"
        md-rowspan="{{group.rowspan}}"
        md-colspan="{{group.colspan}}"
        md-colspan-sm="1"
        >
        <md-grid-tile-footer>
          <h3>{{group.name}} <br><small>{{group.total_people}} volunteers</small></h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
    <div ng-if="organization_groups.length == 0" class="add-groups-text">
      <h4 ng-if="organization.nonprofit">You Haven't Worked With Any Volunteer Groups, Find Some Below!</h4>
      <h4 ng-if="organization.volunteer_group">You Haven't Worked With Any Nonprofits, Find Some Below!</h4>
    </div>
    <h2 ng-if="organization.volunteer_group">Nearby Nonprofits</h2>
    <h2 ng-if="organization.nonprofit">Nearby Nonprofits</h2>
    <md-divider></md-divider>
    <md-grid-list md-cols-sm="1"
                  md-cols-md="2"
                  md-cols-gt-md="6"
                  md-row-height-gt-md="1:1"
                  md-row-height="2:2"
                  md-gutter="12px"
                  md-gutter-gt-sm="8px"
                  class="group-list">
      <md-grid-tile
        ng-repeat="group in all_groups"
        group-modal
        id="{{group.id}}"
        size="lg"
        ng-style="{
    'background': group.bg_color
    }"
        md-rowspan="{{group.rowspan}}"
        md-colspan="{{group.colspan}}"
        md-colspan-sm="1"
        >
        <md-grid-tile-footer>
          <h3>{{group.name}} <br><small>{{group.total_people}} volunteers</small></h3>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>



